{{#if (eq model.title undefined)}}
  <p>{{t 'article-database.createRecord'}}</p>
{{else}}
  String de busca:
  {{#object-editor-input model=model attribute="query"}}
    {{{if model.query model.query (concat "<i>" (t "input.blank") "</i>")}}}
  {{/object-editor-input}}<br>
  Estado da importação: {{t (concat "article-database.status." model.status)}}<br>
  Artigos foram baixados: {{if model.downloaded "Sim" "Não"}}<br>
  {{#if model.missingLines}}
    Linhas (artigos/documentos) que não puderam ser processados: {{model.missingLines}}<br>
  {{/if}}
  <br>
  {{#file-dropzone name=model.id as |dropzone queue|}}
    {{paper-icon "backup"}}&nbsp;{{#file-upload name=model.id accept=["text/csv", "text/plain"] onfileadd=(action "uploadExportedSearch") multiple=false}}
      <span id="upload-exported-search-{{model.id}}" tabindex=0>
        {{#if filename}}
          Você enviou o arquivo "{{filename}}"
          {{else}}
          Enviar busca exportada (em .bib)
        {{/if}}
      </span>
    {{/file-upload}}
  {{/file-dropzone}}
  <div class="layout-row">
    {{#paper-button raised=true primary=true onClick=(action 'import')}}{{if isImported "Atualizar base" "Importar base"}}{{/paper-button}}
    <span class="flex"></span>
    {{article-new articleDatabase=model}}
  </div>
{{/if}}
