  {{#paper-card class="article-searcher" as |card|}}
    {{#card.content class="layout-column"}}
      <div class="layout-row">
        <div class="layout-column layout-align-center-center flex-80">
          {{paper-input class="md-block" label="Procurar artigo" value=search onChange=(action (mut search))}}
          <div class="layout-row searcher-filters flex">
            {{article-searcher-filter changeItem=(action "change") selectedFilters=selectedFilters filters=filters.status locale="search-filters.status" icon="globe"}}
            {{article-searcher-filter changeItem=(action "change") selectedFilters=selectedFilters filters=filters.tags locale="search-filters.tags" icon="tag"}}
            {{article-searcher-filter changeItem=(action "change") selectedFilters=selectedFilters filters=filters.articleDatabases locale="search-filters.articleDatabases" icon="database"}}
            {{article-searcher-filter changeItem=(action "change") selectedFilters=selectedFilters filters=filters.inclusionCriteria locale="search-filters.inclusionCriteria" icon="check-square-o"}}
            {{article-searcher-filter changeItem=(action "change") selectedFilters=selectedFilters filters=filters.exclusionCriteria locale="search-filters.exclusionCriteria" icon="square-o"}}

            {{#paper-chips
              class="flex-grow"
              removeItem=(action "change")
              addItem=(action "change")
              placeholder=(t "search-filters.addFilter")
              searchField="label"
              content=chipsSelectedFilters
              options=chipsFilters
              requireMatch=true as |item|}}
              {{fa-icon item.icon}} {{item.label}}
            {{/paper-chips}}
          </div>
        </div>
        <div class="layout-column searcher-stats flex-20">
          {{#if articlesCount.total}}
            <b><label>{{totalCount}} artigos encontrados</label></b>
          {{/if}}
          {{#if articlesCount.extracted}}
            <label>{{articlesCount.extracted}} extraídos</label>
          {{/if}}
          {{#if articlesCount.selected}}
            <label>{{articlesCount.selected}} selecionados</label>
          {{/if}}
          {{#if articlesCount.unseen}}
            <label>{{articlesCount.unseen}} não vistos</label>
          {{/if}}
          {{#if articlesCount.excluded}}
            <label>{{articlesCount.excluded}} excluídos</label>
          {{/if}}
          {{#if articlesCount.not_included}}
            <i><label>{{articlesCount.not_included}} não incluídos</label></i>
          {{/if}}
        </div>
      </div>
    {{/card.content}}
  {{/paper-card}}
