{{#if filters}}
  {{#paper-menu position="target-right target" as |menu|}}
    {{#menu.trigger}}
      {{#paper-button iconButton=true}}{{fa-icon icon}}{{/paper-button}}
    {{/menu.trigger}}
    {{#menu.content width=6 as |content|}}
      {{#content.menu-item disabled=true}}
        {{#paper-subheader}}{{t locale}}{{/paper-subheader}}
      {{/content.menu-item}}
      {{#each filters as |item|}}
        {{paper-divider}}
        {{#content.menu-item}}
          <p>
            {{#paper-checkbox value=(array-contains (get selectedFilters item.type) item.value) onChange=(action "change" item)}}
              {{item.label}}
            {{/paper-checkbox}}
          </p>
        {{/content.menu-item}}
      {{/each}}
    {{/menu.content}}
  {{/paper-menu}}
{{/if}}
