{{#content-dialog as |section attrs|}}
  {{#if section.isTopbar}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <div>
          <h2 class="md-title"><b>{{t (concat "article.status." article.status)}}:</b> {{article.title}}</h2>
        </div>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=attrs.close}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}

    {{#if isImporting}}
      <div class="layout-column">
        {{paper-progress-linear accent=true class="flex-grow"}}
      </div>
    {{/if}}
  {{else if section.isContent}}
    {{#if isImporting}}
      <br>
      <p>Importando metadados do documento.</p>
      <br>
    {{else}}
      {{article-show article=article}}
    {{/if}}
  {{else if section.isDialogActions}}
    {{#paper-button iconButton=true onClick=(action "import" false)}}
      {{fa-icon "file"}}
      {{#paper-tooltip}}Importar Metadados{{/paper-tooltip}}
    {{/paper-button}}
    {{#paper-button iconButton=true onClick=(action "import" true)}}
      {{fa-icon "book"}}
      {{#paper-tooltip}}Importar Metadados e Referências{{/paper-tooltip}}
    {{/paper-button}}
    {{#unless article.articleDatabase}}
      {{#if (eq article.status 'not_included')}}
        {{#paper-button iconButton=true onClick=(action "include")}}
          {{fa-icon "plus-square"}}
          {{#paper-tooltip}}Incluir na pesquisa{{/paper-tooltip}}
        {{/paper-button}}
      {{else}}
        {{#paper-button iconButton=true onClick=(action "include")}}
          {{fa-icon "minus-square"}}
          {{#paper-tooltip}}Retirar da pesquisa{{/paper-tooltip}}
        {{/paper-button}}
      {{/if}}
    {{/unless}}
    <span class="flex"></span>
    {{#paper-button onClick=attrs.close}}Fechar{{/paper-button}}

  {{else if section.isButton}}
    {{#if (has-block)}}
      {{yield (hash open=attrs.open)}}
    {{else}}
      {{#paper-button onClick=attrs.open raised=true primary=true}}abrir{{/paper-button}}
    {{/if}}
  {{/if}}
{{/content-dialog}}
