<br/>
{{#if (eq extractionQuestion.fieldType "text")}}
  {{#object-editor-input model=articleExtractionQuestion attribute="value" onSave=(action "save")}}
    {{#if articleExtractionQuestion.value}}
      {{paper-icon 'label'}}{{{articleExtractionQuestion.value}}}
    {{else}}
      {{#paper-button primary=true raised=true}}{{t "input.notAnswered"}}{{/paper-button}}
    {{/if}}
  {{/object-editor-input}}
{{else if (eq extractionQuestion.fieldType "range")}}
  {{paper-input
    value=articleExtractionQuestion.value
    onChange=(action "saveTimer")
    label=(t "input.answer")
    type="number"
    passThru=(hash min=extractionQuestion.rangeMin max=extractionQuestion.rangeMax step=extractionQuestion.rangeIncrement)
  }}
  <small>(de {{extractionQuestion.rangeMin}} a {{extractionQuestion.rangeMax}}).</small>
{{else if (eq extractionQuestion.fieldType "range_radio")}}
  {{#paper-radio-group
    class="layout-row"
    toggle=true
    groupValue=(readonly articleExtractionQuestion.value)
    onChange=(action "save") as |group|}}
    {{#each rangeArray as |i|}}
      {{#group.radio value=i}}{{i}}{{/group.radio}}
    {{/each}}
  {{/paper-radio-group}}
{{else if (eq extractionQuestion.fieldType "radiobox")}}
  {{#paper-radio-group
    toggle=true
    groupValue=articleExtractionQuestion.extractionQuestionOption.id
    onChange=(action "saveRadioOption") as |group|}}
    {{#each extractionQuestionOptions as |option|}}
      {{#group.radio value=option.id}}{{option.title}}{{/group.radio}}
    {{/each}}
  {{/paper-radio-group}}
{{else if (eq extractionQuestion.fieldType "selector")}}
  {{#paper-select
    label=(t "input.answer")
    options=extractionQuestionOptions
    selected=articleExtractionQuestion.extractionQuestionOption
    onChange=(action "saveSelectOption")
    as |option|}}
    {{option.title}}
  {{/paper-select}}
{{else if (eq extractionQuestion.fieldType "checkbox")}}
  {{#each articleExtractionQuestionOptions as |op|}}
    {{paper-checkbox value=op.checked label=op.option.title onChange=(action "saveMultiOption" op.option)}}
  {{/each}}
{{/if}}
