<div class="layout-row">
  {{article-editor-input class="flex-100" model=article attribute='title'}}
</div>

<div class="layout-row">
  {{article-editor-input class="flex-33" model=article attribute='publicationYear'}}
  {{#article-editor-input class="flex-33" model=article attribute='contentType' as |attr|}}
    {{paper-input class="md-block" label=attr.label value=(t (concat "content-type." attr.value.code)) onChange=null}}
  {{/article-editor-input}}
  {{article-editor-input class="flex-33" model=article attribute='doi'}}
</div>

<div class="layout-row">
  {{article-editor-input class="flex-50" model=article attribute='url'}}
  {{paper-input class="flex-50" label=(t "article.importedFrom") value=(if article.articleDatabase article.articleDatabase.title (t "article.importedFromNothing")) disabled=true onChange=null}}
</div>

{{#keyword-list model=article}}
  {{paper-input class="md-block" label=(t "keyword.models") value=keywordList onChange=null}}
{{/keyword-list}}

<div class="layout-column">
  <b>Arquivo</b>
  {{#file-dropzone class="flex-100" name=(concat "article-" article.id) as |dropzone queue|}}
    {{#if article.fileUrl}}
      {{#paper-button href=article.fileUrl target="_blank" iconButton=true}}
        {{fa-icon "external-link-square"}}
        {{#paper-tooltip}}Acessar PDF{{/paper-tooltip}}
      {{/paper-button}}
      &nbsp;
    {{/if}}
    {{#file-upload name=(concat "article-" article.id) accept="application/pdf" onfileadd=(action "uploadFile") multiple=false}}
      <span id="upload-{{article.id}}" tabindex=0>
        Clique aqui para enviar um novo PDF.
      </span>
    {{/file-upload}}
  {{/file-dropzone}}
  <br>
</div>

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Autores</div>
    <div class="md-panel-summary">
      {{#each article.authorList as |author index|}}
        {{#if author}}
          {{unless (eq index 0) '; '}}{{author}}
        {{/if}}
      {{else}}
        Nenhum autor.
      {{/each}}
    </div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Autores</div>
      <div class="md-panel-summary">
        {{#each article.authorList as |author index|}}
          {{#if author}}
            {{unless (eq index 0) '; '}}{{author}}
          {{/if}}
        {{else}}
          Nenhum autor.
        {{/each}}
      </div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}
      {{authors-list model=article}}
    {{/expanded.content}}

    {{!-- {{#expanded.footer}}
      <span class="flex"></span>
      {{#paper-button onClick=(action panel.collapse)}}
        Cancel
      {{/paper-button}}
      {{#paper-button primary=true onClick=(action panel.collapse)}}
        Save
      {{/paper-button}}
    {{/expanded.footer}} --}}

  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Publicação</div>
    <div class="md-panel-summary">{{publication.title}}</div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Publicação</div>
      <div class="md-panel-summary">{{publication.title}}</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}
      {{publication-list model=article}}
      {{paper-divider}}
      <h4>Dados do artigo</h4>
      <div class="layout-row">
        {{article-editor-input class="flex-25" model=article attribute='volume'}}
        {{article-editor-input class="flex-25" model=article attribute='issue'}}
        {{article-editor-input class="flex-25" model=article attribute='pageStart'}}
        {{article-editor-input class="flex-25" model=article attribute='pageEnd'}}
      </div>
    {{/expanded.content}}

    {{!-- {{#expanded.footer}}
      <span class="flex"></span>
      {{#paper-button onClick=(action panel.collapse)}}
        Cancel
      {{/paper-button}}
      {{#paper-button primary=true onClick=(action panel.collapse)}}
        Save
      {{/paper-button}}
    {{/expanded.footer}} --}}

  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Referências</div>
    <div class="md-panel-summary">{{article.referencesCount}}</div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Referências</div>
      <div class="md-panel-summary">{{article.referencesCount}}</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}
      {{reference-list model=article referenceType="references"}}
    {{/expanded.content}}

  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Referenciado por</div>
    <div class="md-panel-summary">{{article.referencedByCount}}</div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Referenciado por</div>
      <div class="md-panel-summary">{{article.referencedByCount}}</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}
      {{reference-list model=article referenceType="referencedBy"}}
    {{/expanded.content}}

  {{/panel.expanded}}
{{/paper-expansion-panel}}
