{{#paper-menu isOpen=menuFourIsOpen position="target-right target" as |menu|}}
  {{#menu.trigger}}
    {{#paper-button onClick=null iconButton=true}}
      {{fa-icon "bars"}}
    {{/paper-button}}
  {{/menu.trigger}}

  {{#menu.content as |content|}}
    {{#if show}}
      {{#article-show-dialog article=article as |attrs|}}
        {{#content.menu-item onClick=attrs.open}}
          {{fa-icon "eye" class="md-menu-align-target"}}
          <p>Ver Artigo</p>
        {{/content.menu-item}}
      {{/article-show-dialog}}
    {{/if}}
    {{#if extract}}
      {{#content.menu-item href=(href-to 'article-extraction' article.id)}}
        {{fa-icon "magic"}}
        <p>Extração de Dados</p>
      {{/content.menu-item}}
    {{/if}}
    {{#if notes}}
      {{#content.menu-item onClick=(action "toggleSidenav" article)}}
        {{fa-icon "sticky-note"}}
        <p>Notas do Artigo</p>
      {{/content.menu-item}}
    {{/if}}
    {{#if (and article.url url)}}
      {{#content.menu-item href=article.url target="_blank"}}
        {{fa-icon "external-link"}}
        <p>Acessar Url do Artigo</p>
      {{/content.menu-item}}
    {{/if}}
    {{#if (and pdf article.fileUrl)}}
      {{#content.menu-item href=article.fileUrl target="_blank"}}
        {{fa-icon "external-link-square"}}
        <p>Acessar o PDF</p>
      {{/content.menu-item}}
    {{/if}}
    {{#if delete}}
      {{#object-delete-button model=article as |delete|}}
        {{#content.menu-item onClick=delete}}
          {{fa-icon "trash"}}
          <p>Excluir Artigo</p>
        {{/content.menu-item}}
      {{/object-delete-button}}
    {{/if}}
  {{/menu.content}}
{{/paper-menu}}
