<h4>{{t (concat type "-criterium.models")}}</h4>
{{#paper-list}}
  {{#if noCriteria}}
    É necessário criar os critérios no passo 1 (Planejamento) antes de selecionar os artigos.
  {{else}}
    {{#each model as |attr|}}
      {{#if attr.researchCriterium.isLoaded}}
        {{#paper-item class="md-3-line"}}
          <div class="md-list-item-text">
            {{#paper-checkbox disabled=articleCriteria.isPending indeterminate=articleCriteria.isPending value=(not-eq attr.articleCriterium undefined) onChange=(action "change" attr.researchCriterium attr.articleCriterium)}}
              {{attr.researchCriterium.title}}
            {{/paper-checkbox}}
          </div>
        {{/paper-item}}
      {{else}}
        {{#content-placeholders as |placeholder|}}
          {{placeholder.text lines=1}}
        {{/content-placeholders}}
      {{/if}}
    {{else}}
      {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=1}}
      {{/content-placeholders}}
    {{/each}}
  {{/if}}
{{/paper-list}}
