{{#content-dialog onClose=(action "close") onOpen=(action "open") as |section attrs|}}
  {{#if section.isTopbar}}
    {{#paper-toolbar}}
      {{#paper-toolbar-tools}}
        <h2 class="md-title">Novo Artigo</h2>
        <span class="flex"></span>
        {{#paper-button iconButton=true onClick=attrs.close}}{{paper-icon icon="close"}}{{/paper-button}}
      {{/paper-toolbar-tools}}
    {{/paper-toolbar}}
  {{else if section.isContent}}
    <div class="layout-row flex">
      <div class="flex-grow">
        {{paper-input class="md-block" label="Título" value=article.title onChange=(action (mut article.title)) required=true}}
      </div>
    </div>
    <div class="layout-row flex">
      {{paper-input class="flex-33" label="Ano" type="number" value=article.publicationYear onChange=(action (mut article.publicationYear))}}
      {{#paper-select
        label="Tipo"
        class="flex-33"
        options=contentTypes
        selected=article.contentType
        onChange=(action (mut article.contentType))
        as |type|}}
        <strong>{{t (concat 'content-type.' type.code)}}</strong>
      {{/paper-select}}
      {{paper-input class="flex-33" label="DOI ¹" value=article.doi onChange=(action (mut article.doi))}}
    </div>
    <div class="layout-row">
      {{paper-input class="flex-100" label="URL" value=article.url onChange=(action (mut article.url))}}
    </div>
    <div class="layout-row">
      <p>{{{t "article.new-metadata-info"}}}</p>
    </div>
  {{else if section.isDialogActions}}
    <span class="flex"></span>
    {{#paper-button onClick=attrs.close}}Fechar{{/paper-button}}
    {{#paper-button primary=true onClick=(action 'save' attrs.close)}}Salvar{{/paper-button}}
  {{else if section.isButton}}
    {{#paper-button onClick=attrs.open raised=true accent=true}}{{t "article.createRecord"}}{{/paper-button}}
  {{/if}}
{{/content-dialog}}
