{{#object-editor-input model=model attribute=attribute as |attr|}}
  {{#if (has-block)}}
    {{yield (hash label=label value=value)}}
  {{else}}
    {{paper-input class="md-block" label=label value=value onChange=null}}
  {{/if}}
{{/object-editor-input}}
