{{#paper-list}}
  {{#if noQuestion}}
    É necessário criar as perguntas no passo 1 (Planejamento) antes de extrair dados dos artigos.
  {{else}}
    {{#each model as |attr index|}}
      {{#if attr.researchQuestion.isLoaded}}
        {{#unless (eq index 0)}}
          {{paper-divider}}
        {{/unless}}
        {{#paper-item class="md-3-line"}}
          <div class="md-list-item-text">
            <h3>
              <b>
                {{attr.researchQuestion.key}}
                {{#if attr.researchQuestion.value}}
                  {{#paper-tooltip position='right'}}{{attr.researchQuestion.value}}{{/paper-tooltip}}
                {{/if}}
              </b>
            </h3>
            {{#if attr.articleQuestion.isLoading}}
              {{#content-placeholders as |placeholder|}}
                {{placeholder.text lines=1}}
              {{/content-placeholders}}
            {{else}}
              {{article-extraction-question-list-item article=article extractionQuestion=attr.researchQuestion articleExtractionQuestion=attr.articleQuestion}}
            {{/if}}
          </div>
        {{/paper-item}}
      {{else}}
        {{#content-placeholders as |placeholder|}}
          {{placeholder.text lines=2}}
        {{/content-placeholders}}
        <br>
      {{/if}}
    {{else}}
      {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=2}}
      {{/content-placeholders}}
    {{/each}}
  {{/if}}
{{/paper-list}}
