{{#if isText}}
  {{paper-input onKeyDown=(action "keydown") block=true type="text" label=label value=value onChange=(action "change")}}
{{else if isNumber}}
  {{paper-input onKeyDown=(action "keydown") block=true type="number" label=label value=value onChange=(action "change")}}
{{else if isTextArea}}
  {{paper-input onKeyDown=(action "keydown") textarea=true passThru=(hash rows=2 maxRows=5) block=true type="textarea" label=label value=value onChange=(action "change")}}
{{else if isCheckbox}}
  {{#paper-checkbox value=value onChange=(action "change")}}
    {{label}}
  {{/paper-checkbox}}
{{else if isChips}}
  {{#paper-chips
    readOnly=false
    removeItem=(action "removeContent")
    addItem=(action "addContent")
    placeholder=label
    readOnly=disabled
    content=value
    options=remaining
    searchField=search
    requireMatch=match
    noMatchesMessage="Clique para adicionar." as |item|}}
    {{#if (has-block)}}
      {{yield item}}
    {{else}}
      <strong>{{item}}</strong>
    {{/if}}
  {{/paper-chips}}
{{else if isPell}}
  {{pell-editor value=value class="flex" onChange=(action "change")}}
{{else if isSelect}}
  {{#paper-select
    disabled=disabled
    label=label
    class="md-block"
    options=values
    selected=value
    onChange=(action "change")
    as |item|}}
    {{#if (has-block)}}
      {{yield item}}
    {{else}}
      <strong>{{item}}</strong>
    {{/if}}
  {{/paper-select}}
{{else}}
  {{paper-input onKeyDown=(action "keydown") block=true type="text" label=label value=value onChange=(action "change")}}
{{/if}}
