{{#paper-card class="flex-100" as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline class="layout-row layout-align-space-between-center"}}
        {{object-editor-input model=author attribute="name"}}
        {{#paper-button onClick=(action "remove") warn=true iconButton=true}}
          {{fa-icon "remove"}}
          {{#paper-tooltip}}Dissociar autor{{/paper-tooltip}}
        {{/paper-button}}
      {{/text.headline}}
      {{#text.subhead}}
        {{#paper-list}}
          {{#paper-subheader}}Vinculação{{/paper-subheader}}
          {{#each (await author.affiliations) as |affiliation|}}
            {{authors-list-item-affiliation model=author affiliation=affiliation}}
          {{/each}}
          {{paper-divider}}
          {{authors-list-item-affiliation model=author}}
        {{/paper-list}}
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
{{/paper-card}}
