{{#if isEdit}}
  {{#if isNew}}
    {{#paper-item class="md-2-line"}}
      <div class="md-list-item-text">
        {{#paper-autocomplete
          class="md-block"
          search=(perform searchTask)
          selected=affiliation
          allowClear=true
          label=(t 'affiliation.model')
          labelPath="name"
          onSelectionChange=(action (mut affiliation)) as |affiliation autocomplete|}}
          {{paper-autocomplete-highlight
            label=affiliation.name
            searchText=autocomplete.searchText
            flags="i"}}
          {{#if affiliation.location}}
            {{paper-autocomplete-highlight
              label=(concat " (<i>" (get countries affiliation.location) "</i>)")
              searchText=autocomplete.searchText
              flags="i"}}
          {{/if}}
        {{/paper-autocomplete}}
      </div>
      <div class="md-secondary-container">
        {{#paper-button onClick=(action "saveAssociation") primary=true iconButton=true}}{{paper-icon "done"}}{{/paper-button}}
        {{#paper-button onClick=(action "cancel") warn=true iconButton=true}}{{paper-icon "clear"}}{{/paper-button}}
      </div>
    {{/paper-item}}
    {{#paper-item class="md-2-line"}}
      <div class="md-list-item-text layout-row">
        {{paper-input class="flex-60" label="Nome" value=newAffiliation.name onChange=(action (mut newAffiliation.name))}}
        <div class="flex-40">
          {{#paper-autocomplete
            options=countryCodes
            searchField="name"
            labelPath="name"
            label=(t 'affiliation.location')
            selected=newLocation
            onSelectionChange=(action (mut newLocation)) as |country autocomplete|}}
            {{paper-autocomplete-highlight
              label=country.name
              searchText=autocomplete.searchText
              flags="i"}}
          {{/paper-autocomplete}}
        </div>
      </div>
      <div class="md-secondary-container">
        {{#paper-button onClick=(action "saveNew") primary=true iconButton=true}}{{paper-icon "add"}}{{/paper-button}}
      </div>
    {{/paper-item}}
  {{else}}
    {{#paper-item class="md-2-line"}}
      <div class="md-list-item-text layout-row">
        {{paper-input class="flex-60" label="Nome" value=affiliation.name onChange=(action (mut affiliation.name))}}
        <div class="flex-40">
          {{#paper-autocomplete
            options=countryCodes
            searchField="name"
            labelPath="name"
            label=(t 'affiliation.location')
            selected=newLocation
            onSelectionChange=(action (mut newLocation))
            as |country autocomplete|}}
            {{paper-autocomplete-highlight
              label=country.name
              searchText=autocomplete.searchText
              flags="i"}}
          {{/paper-autocomplete}}
        </div>
      </div>
      <div class="md-secondary-container">
        {{#paper-button onClick=(action "save") primary=true iconButton=true}}{{paper-icon "done"}}{{/paper-button}}
        {{#paper-button onClick=(action "cancel") warn=true iconButton=true}}{{paper-icon "clear"}}{{/paper-button}}
      </div>
    {{/paper-item}}
  {{/if}}
{{else}}
  {{#if isNew}}
    {{#paper-item class="md-2-line" onClick=(action "edit")}}
      <div class="md-list-item-text">
        Nova vinculação
      </div>
      <div class="md-secondary-container">
        {{paper-icon "add"}}
      </div>
    {{/paper-item}}
  {{else}}
    {{#paper-item class="md-2-line"}}
      <div class="md-list-item-text">
        <h3>{{affiliation.name}}</h3>
        <h4>{{get countries affiliation.location}}</h4>
      </div>
      <div class="md-secondary-container">
        {{#paper-button onClick=(action "edit") primary=true iconButton=true}}{{fa-icon "cog"}}{{/paper-button}}
        {{#paper-button onClick=(action "remove") primary=true iconButton=true}}{{fa-icon "remove"}}{{/paper-button}}
      </div>
    {{/paper-item}}
  {{/if}}
{{/if}}
