<div class="layout-row layout-wrap">
  {{#each model.authors as |author|}}
    {{authors-list-item model=model author=author}}
  {{/each}}
</div>

<div class="layout-row layout-wrap">
  {{#if isNew}}
    {{#paper-card class="flex-50" as |card|}}
      {{#card.title as |title|}}
        {{#title.text as |text|}}
          {{#text.headline class="layout-row layout-align-space-between-center"}}
            {{paper-input class="flex-100" label="Nome" value=(if newAuthor.name newAuthor.name "Novo autor") onChange=(action (mut newAuthor.name))}}
          {{/text.headline}}
        {{/title.text}}
      {{/card.title}}
      {{#card.content}}
        <br>
        {{paper-divider}}
        <br>
        Ou selecione um autor existente:<br>
        {{#paper-autocomplete
          class="md-block"
          search=(perform searchTask)
          selected=selectedAuthor
          onSelectionChange=(action (mut selectedAuthor))
          label=(t 'author.model')
          labelPath="name"
          as |author autocomplete|}}
          {{paper-autocomplete-highlight
            label=author.name
            searchText=autocomplete.searchText
            flags="i"}}
          {{{if author.firstAffiliation (concat " (<i>" author.firstAffiliation "</i>)")}}}
        {{/paper-autocomplete}}
      {{/card.content}}
      {{#card.actions}}
        {{#paper-button onClick=(action "cancel")}}Cancelar{{/paper-button}}
        <div class="flex"></div>
        {{#paper-button onClick=(action "save") raised=true primary=true}}Associar autor{{/paper-button}}
      {{/card.actions}}
    {{/paper-card}}
  {{else}}
    {{#paper-button raised=true primary=true class="md-block" onClick=(action "new")}}Associar autor{{/paper-button}}
  {{/if}}
</div>
