{{#if showDialog}}
  {{#paper-dialog fullscreen=true escapeToClose=true onClose=(action 'close') origin=dialog}}
    {{yield topbar (hash close=(action "close"))}}
    {{#paper-form onSubmit=(action 'submit') as |form|}}
      {{#paper-dialog-content}}
        {{yield content (hash close=(action "close"))}}
      {{/paper-dialog-content}}
      {{#paper-dialog-actions class="layout-row"}}
        {{yield dialogActions (hash close=(action "close"))}}
      {{/paper-dialog-actions}}
    {{/paper-form}}
  {{/paper-dialog}}
{{/if}}
{{yield button (hash open=(action "open"))}}
