<h3>
  Quais bases de dados você deseja usar no seu mapeamento?
  {{#paper-button onClick=(action "createBase") primary=true raised=true}}
    Criar Base
  {{/paper-button}}
</h3>
<p>
  O sistema incluirá automaticamente os artigos encontrados por meio da string de busca nas bases selecionadas, mediante arquivo de exportação.<br/>
  As bases que permitem a importação de artigos via arquivo .CSV são: ACM, IEEE e Springer (precisam ter esse título);<br/>
  De resto, é permitido qualquer base (título) com um arquivo .BIB (BibTEX).<br/><br>
  Você também pode adicionar uma base "Manual" para os artigos avulsos ou uma base "Snowballing" para a técnica de <i>snowballing</i> (Artigos encontrados nas referências).
</p>

<div class="layout-row layout-wrap">
  {{#if articleDatabases}}
    {{#each (await articleDatabases) as |base|}}
      <div class="flex-33">
        {{#paper-card as |card|}}
          <div class="layout-row">
            {{#card.title as |title|}}
              {{#title.text as |text|}}
                {{#text.headline}}
                  {{#object-editor-input model=base attribute="title"}}
                    {{{if base.title base.title (concat "<i>" (t "article-database.title") "</i>")}}}
                  {{/object-editor-input}}
                {{/text.headline}}
                {{#text.subhead}}
                  {{#object-editor-input model=base attribute="url"}}
                    {{{if base.url base.url (concat "<i>" (t "article-database.url") "</i>")}}}
                  {{/object-editor-input}}
                {{/text.subhead}}
              {{/title.text}}
            {{/card.title}}
            {{object-delete-button model=base}}
          </div>
          {{#card.content}}
            {{article-database-editor model=base}}
          {{/card.content}}
        {{/paper-card}}
      </div>
    {{else}}
      {{#paper-card class="full-page-element" as |card|}}
        {{#card.content}}
          {{#content-placeholders as |placeholder|}}
            {{placeholder.text lines=1}}
          {{/content-placeholders}}
        {{/card.content}}
      {{/paper-card}}
    {{/each}}
  {{/if}}
</div>
