{{#paper-sidenav
  class="md-whiteframe-z2 extraction-question-sidenav"
  name="extraction-question-sidenav"
  open=isSidenavOpen
  lockedOpen=open
  onToggle=(action (mut isSidenavOpen))
  position="right"}}
  {{#paper-button class="close-sidenav-left" iconButton=true onClick=(action (mut open))}}{{paper-icon "close"}}{{/paper-button}}
  {{#paper-content}}
    <div class="extraction-question-sidenav-content">
      {{#each-in model as |extractionQuestion articleExtractionQuestions|}}
        {{#paper-expansion-panel expanded=false as |panel|}}
          {{#panel.collapsed}}
            <div class="md-panel-title">{{extractionQuestion}}</div>
            <div class="md-panel-summary"></div>
            {{paper-icon "keyboard_arrow_down"}}
          {{/panel.collapsed}}

          {{#panel.expanded as |expanded|}}
            {{#expanded.header}}
              <div class="md-panel-title">{{extractionQuestion}}</div>
              <div class="md-panel-summary"></div>
              {{paper-icon "keyboard_arrow_up"}}
            {{/expanded.header}}

            {{#expanded.content}}
              <div>
                {{#each articleExtractionQuestions as |articleExtractionQuestion|}}
                  {{#if (and articleExtractionQuestion.isLoaded articleExtractionQuestion.article.isLoaded)}}
                    {{#if articleExtractionQuestion.value}}
                      {{#paper-card as |card|}}
                        {{#card.content}}
                          <div class="layout-row">
                            <span>
                              <h4>{{articleExtractionQuestion.article.title}}</h4>
                              <p>{{{articleExtractionQuestion.value}}}</p>
                            </span>
                            <div class="layout-column layout-align-start-end flex-noshrink">
                              {{#paper-button href=(href-to 'article-extraction' articleExtractionQuestion.article.id) iconButton=true aria-label="Extração de Dados"}}
                                {{fa-icon "magic"}}
                                {{#paper-tooltip}}Extração de Dados{{/paper-tooltip}}
                              {{/paper-button}}
                              {{#article-show-dialog article=articleExtractionQuestion.article.content as |attrs|}}
                                {{#paper-button onClick=attrs.open iconButton=true aria-label="Ver Artigo"}}
                                  {{fa-icon "eye"}}
                                  {{#paper-tooltip}}Ver Artigo{{/paper-tooltip}}
                                {{/paper-button}}
                              {{/article-show-dialog}}
                              {{#paper-button iconButton=true onClick=(action "toggleSidenav" articleExtractionQuestion.article)}}
                                {{fa-icon "sticky-note"}}
                                {{#paper-tooltip}}Notas do Artigo{{/paper-tooltip}}
                              {{/paper-button}}
                            </div>
                          </div>
                        {{/card.content}}
                      {{/paper-card}}
                    {{/if}}
                  {{else}}
                    {{#paper-card as |card|}}
                      {{#card.content}}
                        {{#content-placeholders as |placeholder|}}
                          {{placeholder.text lines=2}}
                        {{/content-placeholders}}
                        {{/card.content}}
                      {{/paper-card}}
                  {{/if}}
                {{/each}}
              </div>
            {{/expanded.content}}
          {{/panel.expanded}}
        {{/paper-expansion-panel}}
      {{else}}
        <p>
          Nenhuma Pergunta de Extração relacionada.<br>
          Crie uma relação (nas Perguntas de Extração) para usar essa função.
        </p>
      {{/each-in}}
    </div>
  {{/paper-content}}

  {{#paper-toolbar class="sidenav-toolbar" accent=true as |toolbar|}}
    {{#paper-toolbar-tools}}{{t "extraction-question.models"}} - {{researchQuestion.title}}{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/paper-sidenav}}
