{{#paper-item class="md-3-line"}}
  <div class="md-list-item-text">
    <h3>
      <b>{{object-editor-input model=extractionQuestion attribute="key"}}</b>
    </h3>
    <p>{{object-editor-input model=extractionQuestion attribute="value"}}</p>

    {{#if extractionQuestion.numberType}}
      {{paper-input
        value=extractionQuestion.rangeMin
        onChange=(action (mut extractionQuestion.rangeMin))
        label=(t "extraction-question.rangeMin")
        type="number"
        disabled=(not isEditor)
      }}
      {{paper-input
        value=extractionQuestion.rangeMax
        onChange=(action (mut extractionQuestion.rangeMax))
        label=(t "extraction-question.rangeMax")
        type="number"
        disabled=(not isEditor)
      }}
      {{paper-input
        value=extractionQuestion.rangeIncrement
        onChange=(action (mut extractionQuestion.rangeIncrement))
        label=(t "extraction-question.rangeIncrement")
        type="number"
        disabled=(not isEditor)
      }}
    {{else if extractionQuestion.listType}}
      <div class="layout-row layout-wrap">
        {{#each sortedOptions as |option|}}
            {{paper-input type="text" class="flex-25" label=(t "extraction-question-option.model") disabled=(not isEditor) value=option.title onChange=(action (mut option.title))}}
            {{#if isEditor}}{{object-delete-button model=option}}{{/if}}
        {{/each}}
      </div>
      {{#if isEditor}}
        {{#paper-button raised=true onClick=(action "new")}}
          {{t "extraction-question-option.createRecord"}}&nbsp;
          {{#paper-button iconButton=true}}{{paper-icon "library-add"}}{{/paper-button}}
        {{/paper-button}}
      {{/if}}
    {{/if}}
  </div>
  <div class="md-secondary-container">
    {{#paper-select
      label=(t 'extraction-question.fieldType')
      options=extractionQuestion.fieldTypes
      selected=extractionQuestion.fieldType
      onChange=(action (mut extractionQuestion.fieldType))
      disabled=(not isEditor)
      as |ft|}}
      {{t (concat "extraction-question.fieldTypes." ft)}}
      {{/paper-select}}
    {{#if isEditor}}
      <div class="layout-column layout-align-center-center">
        {{#paper-button onClick=(action "save" extractionQuestion) primary=true iconButton=true}}{{paper-icon "done"}}{{/paper-button}}
        {{#paper-button onClick=(action "cancel" extractionQuestion) warn=true iconButton=true}}{{paper-icon "clear"}}{{/paper-button}}
      </div>
    {{else}}
      {{#paper-button iconButton=true onClick=(action "editor")}}
        {{fa-icon "cog"}}
        {{#paper-tooltip}}Modificar pergunta de extração{{/paper-tooltip}}
      {{/paper-button}}
    {{/if}}
    {{research-questions-menu extractionQuestion=extractionQuestion}}
    {{object-delete-button model=extractionQuestion}}
  </div>
{{/paper-item}}
