{{#paper-list}}
  {{#each sortedQuestions as |extractionQuestion index|}}
    {{#unless (eq index 0)}}
      {{paper-divider}}
    {{/unless}}

    {{#if extractionQuestion.isLoaded}}
      {{extraction-question-list-item extractionQuestion=extractionQuestion}}
    {{else}}
      <br>
      {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=2}}
      {{/content-placeholders}}
      {{paper-divider}}
    {{/if}}
  {{/each}}

  {{#if extractionQuestions.length}}
    {{paper-divider}}
  {{/if}}

  {{research-object-maker modelName="extraction-question" attributes=attributesMaker defaultValues=newValues}}
{{/paper-list}}
