{{#paper-list}}
  {{#each memberships as |membership|}}
    {{#if membership.isLoaded}}
      {{#paper-item class="md-2-line"}}
        <div class="md-list-item-text">
          <h3>{{membership.user.name}}</h3>
          {{#if membership.owner}}
            <p>{{t 'group.owner'}}</p>
          {{/if}}
        </div>
        <div class="md-secondary-container">
          {{#paper-button iconButton=true warn=true onClick=(action "remove" membership)}}
            {{fa-icon "remove"}}
          {{/paper-button}}
        </div>
      {{/paper-item}}
    {{else}}
      {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=1}}
      {{/content-placeholders}}
    {{/if}}
  {{/each}}

  {{#if group.isCurrentUserOwner}}
    {{#if isNew}}
      {{#paper-item class="md-1-line" onClick=(action "new")}}
        <div class="md-list-item-text flex-grow layout-row">
          <div class="flex-80">
            {{#paper-autocomplete
              search=(perform searchTask)
              selected=newMember
              label=(t 'group.member')
              labelPath="name"
              onSelectionChange=(action (mut newMember))
              as |user autocomplete|}}
              {{paper-autocomplete-highlight
                label=user.name
                searchText=autocomplete.searchText
                flags="i"}}
            {{/paper-autocomplete}}
          </div>
          <div class="flex-20">
            {{#paper-autocomplete
              options=memberTypes
              selected=newMemberType
              labelPath="name"
              searchField="name"
              onSelectionChange=(action (mut newMemberType))
              as |type autocomplete|}}
              {{paper-autocomplete-highlight
                label=type.name
                searchText=autocomplete.searchText
                flags="i"}}
            {{/paper-autocomplete}}
          </div>
        </div>
        <div class="md-secondary-container">
          {{#paper-button iconButton=true primary=true onClick=(action "save")}}
            {{paper-icon "done"}}
          {{/paper-button}}
          {{#paper-button iconButton=true accent=true onClick=(action "cancel")}}
            {{paper-icon "clear"}}
          {{/paper-button}}
        </div>
      {{/paper-item}}
    {{else}}
      {{#paper-item class="md-1-line" onClick=(action "new")}}
        <div class="md-list-item-text">
          <b>{{t "group-membership.createRecord"}}</b>
        </div>
        <div class="md-secondary-container">
          {{#paper-button iconButton=true onClick=(action "new")}}
            {{paper-icon "library-add"}}
          {{/paper-button}}
        </div>
      {{/paper-item}}
    {{/if}}
  {{/if}}
{{/paper-list}}
