{{#paper-list}}
  {{#each sortedCriteria as |inclusionCriterium|}}
    {{#if inclusionCriterium.isLoaded}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
          <h3>{{object-editor-input model=inclusionCriterium attribute="title"}}</h3>
        </div>
        <div class="md-secondary-container">
          {{object-delete-button model=inclusionCriterium}}
        </div>
      {{/paper-item}}
    {{else}}
      {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=1}}
      {{/content-placeholders}}
    {{/if}}
  {{/each}}

  {{research-object-maker modelName="inclusion-criterium" attributes=attributesMaker}}
{{/paper-list}}
