{{#object-editor-input
  model=keyword
  attribute="title"
  value=keywords
  onSave=(action "save")}}
  {{#if (has-block)}}
    {{yield keywords}}
  {{else}}
    {{{if keywords (concat "<i>" keywords "</i>") "<i>Nenhuma palavra-chave.</i>"}}}
  {{/if}}
{{/object-editor-input}}
