{{#paper-sidenav
  class="md-whiteframe-z2 notes-sidenav"
  name="notes-sidenav"
  open=isSidenavOpen
  lockedOpen=open
  onToggle=(action (mut isSidenavOpen))
  position="left"}}
  {{#paper-content}}
    {{#paper-button class="close-sidenav-right" iconButton=true onClick=(action "close")}}{{paper-icon "close"}}{{/paper-button}}
    <div class="sidenav-content">
      {{#each notes as |note|}}
        {{#paper-card as |card|}}
          {{#card.title as |title|}}
            {{#title.text as |text|}}
              {{#text.headline class="layout-row layout-align-space-around-center"}}{{#object-editor-input model=note attribute="title"}}{{{if note.title note.title (concat "<i>" (t "note.title") "</i>")}}}{{/object-editor-input}}{{/text.headline}}
            {{/title.text}}
          {{/card.title}}
          {{#card.content}}
            <p>{{#object-editor-input model=note attribute="value"}}{{{if note.value note.value (concat "<i>" (t "note.value") "</i>")}}}{{/object-editor-input}}</p>
          {{/card.content}}
          {{#card.actions}}
            {{object-delete-button model=note}}
          {{/card.actions}}
        {{/paper-card}}
      {{/each}}
    </div>
  {{/paper-content}}
  {{#paper-button class="fab" primary=true raised=true iconButton=true fab=true onClick=(action "new")}}{{paper-icon "add"}}{{/paper-button}}
  {{#paper-toolbar class="sidenav-toolbar" accent=true as |toolbar|}}
    {{#paper-toolbar-tools}}Notas - {{label}}{{/paper-toolbar-tools}}
  {{/paper-toolbar}}
{{/paper-sidenav}}
