{{#if isEdit}}
  <div class="layout-row layout-align-center-center flex">
    {{#if (eq type 'select')}}
      {{!-- TODO: fix this to be generic, not only for content type --}}
      {{#attribute-input value=value values=values type=type onChange=(action "change") label=(t label) as |item|}}
        <strong>{{t (concat "content-type." item.code)}}</strong>
      {{/attribute-input}}
    {{else}}
      {{attribute-input value=value values=values type=type onChange=(action "change") label=(t label)}}
    {{/if}}
    <div class="layout-column layout-align-center-center">
      {{#paper-button onClick=(action "save") primary=true iconButton=true}}{{paper-icon "done"}}{{/paper-button}}
      {{#paper-button onClick=(action "cancel") warn=true iconButton=true}}{{paper-icon "clear"}}{{/paper-button}}
    </div>
  </div>
{{else}}
  <div class="pointer" {{action 'edit'}}>
    {{#if (has-block)}}
      {{yield (get model attribute)}}
    {{else if (get model attribute)}}
      {{get model attribute}}
    {{else}}
      {{t (concat model.constructor.modelName "." attribute)}}
    {{/if}}
  </div>
{{/if}}
