{{#paper-item class="md-3-line"}}
  {{#paper-form onSubmit=(action "save") as |form|}}
    <div class="md-list-item-text">
      <h3>{{attribute-input model=extractionQuestion attribute="key" label="Pergunta"}}</h3>
      <p>{{attribute-input type="textarea" model=extractionQuestion attribute="value" label="Descrição"}}</p>
    </div>
    <div class="md-secondary-container">
      {{#form.submit-button primary=true iconButton=true}}{{paper-icon "done"}}{{/form.submit-button}}
    </div>
  {{/paper-form}}
{{/paper-item}}
