{{#if (has-block)}}
  {{yield}}
{{else}}
  {{#paper-form onSubmit=(action "save") as |form|}}
    {{#each-in attributes as |attribute type|}}
      {{object-editor-input model=model attribute=attribute}}
    {{/each-in}}
  {{/paper-form}}
{{/if}}
