{{#if (has-block)}}
  {{yield (action 'delete')}}
{{else}}
  {{#paper-button iconButton=true onClick=(action 'delete')}}
    {{fa-icon "trash"}}
    {{#paper-tooltip}}Remover{{/paper-tooltip}}
  {{/paper-button}}
{{/if}}
