<div class="layout-row layout-align-center-center">
  {{#if showFirstAndLast}}
    {{#paper-button disabled=firstDisabled primary=true click=(action "goToPage" 1)}}{{paper-icon "first page"}}{{/paper-button}}
  {{/if}}

  {{#paper-button disabled=prevDisabled primary=true click=(action "goToPrevPage")}}{{paper-icon "chevron left"}}{{/paper-button}}

  {{#if showFirstEllipsis}}
    {{#paper-button disabled=true}}...{{/paper-button}}
  {{/if}}

  {{#each pagesBeforeCurrent as |page|}}
    {{#paper-button primary=true onClick=(action "goToPage" page)}}{{page}}{{/paper-button}}
  {{/each}}

  {{#paper-button}}{{currentPage}}{{/paper-button}}

  {{#each pagesAfterCurrent as |page|}}
    {{#paper-button primary=true onClick=(action "goToPage" page)}}{{page}}{{/paper-button}}
  {{/each}}

  {{#if showLastEllipsis}}
    {{#paper-button disabled=true}}...{{/paper-button}}
  {{/if}}

  {{#paper-button disabled=nextDisabled primary=true click=(action "goToNextPage")}}{{paper-icon "chevron right"}}{{/paper-button}}

  {{#if showFirstAndLast}}
    {{#paper-button disabled=lastDisabled primary=true click=(action "goToPage" lastPage)}}{{paper-icon "last page"}}{{/paper-button}}
  {{/if}}
</div>
