{{#if isNew}}
  <div class="layout-row">
    <div class="flex-grow">
      {{#paper-autocomplete
        search=(perform searchTask)
        selected=selectedPublication
        label=(t 'publication.model')
        labelPath="title"
        onSelectionChange=(action (mut selectedPublication))
        as |publication autocomplete|}}
        {{paper-autocomplete-highlight
          label=publication.title
          searchText=autocomplete.searchText
          flags="i"}}
      {{/paper-autocomplete}}
    </div>
    <div class="layout-row">
      {{#paper-button onClick=(action "save") primary=true iconButton=true}}
        {{fa-icon "check"}}
        {{#paper-tooltip}}Selecionar publicação{{/paper-tooltip}}
      {{/paper-button}}
      {{#paper-button onClick=(action "cancel") warn=true iconButton=true}}
        {{fa-icon "remove"}}
        {{#paper-tooltip}}Cancelar{{/paper-tooltip}}
      {{/paper-button}}
    </div>
  </div>
{{else}}
  <div class="layout-row">
    {{#if publication}}
      {{article-editor-input class="flex-grow" model=publication attribute='title'}}
    {{/if}}
    <div class="layout-column">
      {{#paper-button onClick=(action "new") iconButton=true}}
        {{fa-icon "search"}}
        {{#paper-tooltip}}Procurar publicação{{/paper-tooltip}}
      {{/paper-button}}
      {{#paper-button onClick=(action "create") accent=true iconButton=true}}
        {{fa-icon "plus"}}
        {{#paper-tooltip}}Criar nova publicação{{/paper-tooltip}}
      {{/paper-button}}
    </div>
  </div>
  <div class="layout-row">
    {{#if publication}}
      {{article-editor-input class="flex-50" model=publication attribute='issn'}}
      {{article-editor-input class="flex-50" model=publication attribute='isbn'}}
    {{/if}}
  </div>
{{/if}}
