{{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true}}
      {{fa-icon "sticky-note" size=18}}
      {{#paper-tooltip}}{{t "note.quick-new"}}{{/paper-tooltip}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=6 as |content|}}
    {{#content.menu-item}}
      {{#paper-form onSubmit=(action "save") as |form|}}
        <div class="layout-column">
          {{paper-input class="md-block" label=(t "note.title") value=note.title onChange=(action (mut note.title))}}
          {{paper-input class="md-block" label=(t "note.value") value=note.value onChange=(action (mut note.value)) required=true}}
          <div class="layout-row">
            {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
            {{#paper-button raised=true warn=true onClick=(action "cancel")}}Delete{{/paper-button}}
          </div>
        </div>
      {{/paper-form}}
    {{/content.menu-item}}
    {{!-- hack ember-paper below to fit tag-editor in ui --}}
    {{content.menu-item}}
    {{content.menu-item}}
    {{content.menu-item}}
    {{content.menu-item}}
  {{/menu.content}}
{{/paper-menu}}
