{{#paper-list}}
  {{#each references as |reference|}}
    {{#paper-item class="md-2-line"}}
      <div class="md-list-item-text">
        {{#if reference.isLoading}}
          {{paper-progress-circular accent=true diameter=30}}
        {{else}}
          <h3>{{reference.title}}</h3>
          {{#if reference.authorList.length}}
            <p>
              {{#each reference.authorList as |author index|}}
                {{#if author}}
                  {{unless (eq index 0) '; '}}{{author}}
                {{/if}}
              {{/each}}
            </p>
          {{/if}}
        {{/if}}
      </div>
      <div class="md-secondary-container">
        {{#article-show-dialog article=reference as |attrs|}}
          {{#paper-button onClick=attrs.open iconButton=true aria-label="Ver Artigo"}}
            {{fa-icon "eye"}}
            {{#paper-tooltip}}Ver Artigo{{/paper-tooltip}}
          {{/paper-button}}
        {{/article-show-dialog}}
        {{#paper-button onClick=(action "remove" reference) warn=true iconButton=true aria-label=(t 'article-reference.destroyRecord')}}
          {{fa-icon "remove"}}
          {{#paper-tooltip}}{{t 'article-reference.destroyRecord'}}{{/paper-tooltip}}
        {{/paper-button}}
      </div>
    {{/paper-item}}
  {{/each}}

  {{#if isNew}}
    {{#paper-item class="md-1-line" onClick=(action "new")}}
      <div class="md-list-item-text flex-grow">
        {{#paper-autocomplete
          search=(perform searchTask)
          selected=newReference
          label=(t 'article-reference.model')
          labelPath="title"
          onSelectionChange=(action (mut newReference))
          as |reference autocomplete|}}
          {{paper-autocomplete-highlight
            label=reference.title
            searchText=autocomplete.searchText
            flags="i"}}
          {{#if reference.firstAuthor}}
            &nbsp;(<i>{{reference.firstAuthor}}</i>)
          {{/if}}
        {{/paper-autocomplete}}
      </div>
      <div class="md-secondary-container">
        {{#paper-button iconButton=true primary=true onClick=(action "save")}}
          {{paper-icon "done"}}
        {{/paper-button}}
        {{#paper-button iconButton=true warn=true onClick=(action "cancel")}}
          {{paper-icon "clear"}}
        {{/paper-button}}
      </div>
    {{/paper-item}}
  {{else}}
    {{#paper-item class="md-1-line" onClick=(action "new")}}
      <div class="md-list-item-text">
        <b>{{t "article-reference.createRecord"}}</b>
      </div>
      <div class="md-secondary-container">
        {{#paper-button iconButton=true onClick=(action "new")}}
          {{paper-icon "library-add"}}
        {{/paper-button}}
      </div>
    {{/paper-item}}
  {{/if}}
{{/paper-list}}
