{{#paper-list}}
  {{#each sortedQuestions as |researchQuestion index|}}
    {{#unless (eq index 0)}}
      {{paper-divider}}
    {{/unless}}

    {{#if researchQuestion.isLoaded}}
      {{#paper-item class="md-3-line"}}
        <div class="md-list-item-text">
          <h3>
            <b>{{object-editor-input model=researchQuestion attribute="title"}}</b>
          </h3>
          <p>
            {{object-editor-input model=researchQuestion attribute="description"}}
          </p>
          {{#object-editor-input model=researchQuestion attribute="value"}}
            {{#if researchQuestion.value}}
              {{paper-icon 'label'}}{{{researchQuestion.value}}}
              {{else}}
              {{#paper-button primary=true raised=true}}{{t 'research-question.pendingValue'}}{{/paper-button}}
            {{/if}}
          {{/object-editor-input}}
        </div>
        <div class="md-secondary-container">
          {{!-- {{#paper-button iconButton=true onClick=(action "toggle" researchQuestion)}}
            {{fa-icon "search"}}
            {{#paper-tooltip}}{{t "research-question.relatedExtractionQuestions"}}{{/paper-tooltip}}
          {{/paper-button}} --}}
          {{object-delete-button model=researchQuestion}}
        </div>
      {{/paper-item}}
    {{else}}
      <br>
      {{#content-placeholders as |placeholder|}}
        {{placeholder.text lines=3}}
      {{/content-placeholders}}
      {{paper-divider}}
    {{/if}}
  {{/each}}

  {{#if researchQuestions.length}}
    {{paper-divider}}
  {{/if}}

  {{#if isNew}}
    {{research-object-maker modelName="research-question" attributes=attributesMaker}}
  {{/if}}
{{/paper-list}}
