{{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button}}
      {{fa-icon 'flask'}}&nbsp;{{currentResearch.title}}
      {{#paper-tooltip}}Pesquisa Atual{{/paper-tooltip}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=4 as |content|}}
    {{#content.menu-item disabled=true}}
      {{!-- {{paper-icon item.icon}} --}}
      <span>Atual: <b>{{currentResearch.title}}</b></span>
    {{/content.menu-item}}

    {{paper-divider}}

    {{#each researches as |research|}}
      {{#content.menu-item onClick=(action 'changeResearch' research)}}
        {{!-- {{paper-icon item.icon}} --}}
        <span>{{research.title}}</span>
      {{/content.menu-item}}
    {{else}}
    {{#content.menu-item}}
      <span>Sem pesquisas para trocar.</span>
    {{/content.menu-item}}
    {{/each}}
  {{/menu.content}}
{{/paper-menu}}
