{{#paper-menu as |menu|}}
  {{#menu.trigger}}
    {{#paper-button iconButton=true}}
      {{fa-icon "list"}}
      {{#paper-tooltip}}{{t "extraction-question.relatedResearchQuestions"}}{{/paper-tooltip}}
    {{/paper-button}}
  {{/menu.trigger}}
  {{#menu.content width=6 as |content|}}
    {{#content.menu-item disabled=true}}
      <span><b>{{t "extraction-question.relatedResearchQuestions"}}</b></span>
    {{/content.menu-item}}
    {{#each researchQuestions as |researchQuestion|}}
      {{#paper-checkbox value=(array-contains extractionQuestion.researchQuestions researchQuestion) onChange=(action "change" researchQuestion)}}
        {{researchQuestion.title}}
      {{/paper-checkbox}}
    {{/each}}
  {{/menu.content}}
{{/paper-menu}}
