{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline class="layout-row layout-align-space-around-center"}}
        {{#object-editor-input model=research attribute="title"}}{{{if research.title research.title (concat "<i>" (t "research.title") "</i>")}}}{{/object-editor-input}}
      {{/text.headline}}
      {{#text.subhead}}
        {{#object-editor-input model=research attribute="objective"}}{{{if research.objective research.objective (concat "<i>" (t "research.objective") "</i>")}}}{{/object-editor-input}}
      {{/text.subhead}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content class="layout-row"}}
    {{#if (or research.group.isCurrentUserOwner (eq research.group.content null))}}
      <div class="flex">
        {{#paper-autocomplete
          searchField="name"
          options=groups
          selected=research.group
          label=(t 'group.model')
          labelPath="name"
          allowClear=true
          onSelectionChange=(action "changeGroup")
          as |group autocomplete|}}
          {{paper-autocomplete-highlight
            label=group.name
            searchText=autocomplete.searchText
            flags="i"}}
        {{/paper-autocomplete}}
      </div>
    {{else}}
      <b>Grupo:</b>&nbsp;<i>{{research.group.name}}</i>
    {{/if}}
  {{/card.content}}
  {{#card.actions}}
    {{object-delete-button model=research message=(if research.title (t 'research.destroyRecordQuestion')) promptResponse=(if research.title research.title)}}
  {{/card.actions}}
{{/paper-card}}
