{{#if isMaker}}
  {{#paper-item class="md-{{attributes.length}}-line"}}
    <div class="md-list-item-text layout-column flex">
        {{#if (has-block)}}
          {{yield}}
        {{else}}
          {{#each attributes as |attribute|}}
            {{paper-input
              label=(t (concat modelName "." attribute))
              class="flex"
              value=(get record attribute)
              onChange=(action (mut (get record attribute)))
            }}
          {{/each}}
        {{/if}}
    </div>
    <div class="md-secondary-container">
      {{#paper-button iconButton=true onClick=(action "saveRecord")}}
        {{paper-icon "library-add"}}
      {{/paper-button}}
      {{#paper-button iconButton=true onClick=(action "closeMaker")}}
        {{paper-icon "delete-forever"}}
      {{/paper-button}}
    </div>
  {{/paper-item}}
{{else}}
  {{#paper-item class="md-1-line" onClick=(action "openMaker")}}
    <div class="md-list-item-text">
      <b>{{t (concat modelName ".createRecord")}}</b>
    </div>
    <div class="md-secondary-container">
      {{#paper-button iconButton=true onClick=(action "openMaker")}}
        {{paper-icon "library-add"}}
      {{/paper-button}}
    </div>
  {{/paper-item}}
{{/if}}
