<div class="layout-row">
  {{#if addTag}}
    {{#paper-menu as |menu|}}
      {{#menu.trigger}}
        {{#paper-button iconButton=true}}
          {{paper-icon "local-offer" size=18}}
        {{/paper-button}}
      {{/menu.trigger}}
      {{#menu.content width=6 as |content|}}
        {{#if isEditor}}
          {{#content.menu-item}}
            {{tag-editor model=model tag=tag close=(action "closeEditor")}}
          {{/content.menu-item}}
          {{!-- hack ember-paper below to fit tag-editor in ui --}}
          {{content.menu-item}}
          {{content.menu-item}}
          {{content.menu-item}}
        {{else}}
          {{#content.menu-item}}
            <div {{action "openEditor"}}>{{paper-icon "add"}} Nova tag</div>
          {{/content.menu-item}}
          {{#if tags}}
            {{paper-divider}}
            {{#if isTagsLoading}}
              {{paper-progress-linear}}
            {{/if}}
          {{/if}}
          {{#each tags as |tag|}}
            {{#content.menu-item}}
              {{#if tag.isLoaded}}
                {{#paper-checkbox value=(array-contains modelTags tag) onChange=(action "change" tag)}}
                  <md-icon md-font-icon="local-offer" style="height: 14px; min-height: 14px; min-width: 14px; font-size: 14px; line-height: 14px; color: #{{tag.color}}" aria-label="local-offer" class="paper-icon md-font material-icons md-default-theme ember-view">local_offer</md-icon>
                  {{tag.label}}
                {{/paper-checkbox}}
                <div class="md-secondary-container">
                  <div class="layout-row layout-align-end-center">
                    {{#paper-button iconButton=true onClick=(action "openEditor" tag)}}
                      {{paper-icon "mode-edit" size=18}}
                    {{/paper-button}}
                  </div>
                </div>
              {{else}}
                {{#content-placeholders as |placeholder|}}
                  {{placeholder.text lines=1}}
                {{/content-placeholders}}
              {{/if}}
            {{/content.menu-item}}
          {{/each}}
        {{/if}}
      {{/menu.content}}
    {{/paper-menu}}
  {{/if}}

  <md-chips class="md-default-theme" style="min-height: 32px;">
    <md-chips-wrap tabindex="-1" class="md-chips" style="box-shadow: 0 0px;">
      {{#each modelTags as |tag|}}
        {{#if tag.label}}
          <md-chip class="md-chip md-default-theme" style="background-color: #{{tag.color}}; color: white; font-size: 14px; height: 24px; line-height: 24px; padding: 0 8px 0 8px;">
            <div tabindex="-1" aria-hidden="true" class="md-chip-content">
              <strong>{{tag.label}}</strong>
            </div>
          </md-chip>
        {{/if}}
      {{/each}}
    </md-chips-wrap>
  </md-chips>
</div>
