{{#paper-form onSubmit=(action "save") as |form|}}
  <div class="layout-column">
    {{form.input label="Label" value=tag.label onChange=(action (mut tag.label)) required=true}}
  </div>
  <div class="layout-row">
    {{#each colors as |color index|}}
      <div class="flex-25">
        {{!-- {{paper-checkbox value=(eq tag.color color) onChange=(action (mut tag.color) color)}} --}}
        <md-checkbox tabindex="0" class="md-checkbox md-default-theme {{if (eq tag.color color) "md-checked" ""}}" onClick={{action (mut tag.color) color}}>
          <div class="md-container md-ink-ripple">
            <div class="md-icon colorpicker" style="background-color: #{{color}};"></div>
            <div class="md-ripple-container"></div>
          </div>
          <div class="md-label">{{!-- <span></span> --}}</div>
        </md-checkbox>
      </div>
    {{/each}}
  </div>
  <div class="layout-row">
    {{#form.submit-button raised=true primary=true}}Submit{{/form.submit-button}}
    {{#paper-button raised=true warn=true onClick=(action "delete")}}Delete{{/paper-button}}
  </div>
{{/paper-form}}
