$primary: "orange";
$primary-color: orange;
$accent: "blue-grey";
$accent-color: #607d8b;
$warn: "red";
$warn-color: red;
@import "ember-paper";
@import "ember-paper-expansion-panel";
@import "ember-paper-stepper";
@import "ember-content-placeholders";


$header-height: 48px;
$subheader-height: 48px;

.vis-network canvas {
  height: calc(100vh - #{$subheader-height} - #{$header-height}) !important;
}

.md-list-item-text h3 {
  white-space: normal !important;
}

md-input-container {
  min-width: 100px;
}

// colors
.green {
  color: #2c662d !important;
}

.brown {
  color: #573a08 !important;
}

.red {
  color: #9f3a38 !important;
}

.white {
  color: #fff !important;
}

#header-toolbar {
  position: absolute;
  /* Set the navbar to fixed position */
  overflow: hidden;
  height: $header-height;
  top: 0;
  /* Position the navbar at the top of the page */
  left: 0;
  right: 0;
  // width: 100%; /* Full width */

  h3 {
    width: 30vw;
  }
  md-tabs {
    width: 40vw;
  }
  .status {
    width: 30vw;
  }
}

.main-content {
  position: absolute;
  overflow: auto;
  top: $header-height;
  // bottom: $subheader-height;
  left: 0;
  right: 0;
  width: 100vw;

  > .liquid-container {
    overflow: auto;
    width: 100vw;

    > .liquid-child {
      min-height: calc(100vh - #{$header-height});
      // min-height: calc(100vh - #{$subheader-height} - #{$header-height});

      > md-tabs {
        height: $subheader-height;
        max-height: $subheader-height;
        border-radius: 0px;
      }
    }
  }

  .liquid-subcontainer {
    width: 100vw;

    > .liquid-child {
      overflow: auto;
      min-height: calc(100vh - #{$header-height*2});
      max-height: calc(100vh - #{$header-height*2});
    }
  }
}

#footer-toolbar {
  position: absolute;
  /* Set the navbar to fixed position */
  overflow: hidden;
  bottom: 0;
  /* Position the navbar at the top of the page */
  // width: 100%; /* Full width */
  left: 0;
  right: 0;
  height: $subheader-height;
  max-height: $subheader-height !important;
  min-height: $subheader-height !important;
}

.tabs-overflow {
  // height: calc(100vh - #{$header-height} - #{$subheader-height}*2 - 17px);
  height: calc(100vh - #{$header-height} - #{$subheader-height} - 17px);
  overflow-x: hidden;
  overflow-y: auto;
}
/* stepper in research guide */
.stepper-overflow {
  // height: calc(100vh - #{$header-height} - 72px - 48px - #{$subheader-height} - 1px);
  height: calc(100vh - #{$header-height} - 72px - 48px - 1px);
  overflow-x: hidden;
  overflow-y: auto;
}

.stepper-actions {
  @extend .layout-row;
  @extend .layout-align-space-around-center;
}

.notes-sidenav {
  height: 100%;
  width: 33vw;
  max-width: 33vw;
  position: relative;
}

.close-sidenav-left {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}

.close-sidenav-right {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
}

.extraction-question-sidenav {
  height: calc(100vh - #{$header-height} - #{$subheader-height});
  width: 40vw;
  max-width: 40vw;
  position: relative;
}

.extraction-question-sidenav-content {
  height: calc(100vh - #{$header-height}*2 - #{$subheader-height});
  overflow: auto;
}

.sidenav-toolbar {
  position: fixed;
  bottom: 0;
  right: 0;
  max-height: $header-height;
  height: $header-height;
  min-height: $header-height;
}

.sidenav-content {
  margin-bottom: 100px;
}
// md-content.sidenav {
//   // height: 100vh;
//   overflow-y: auto;
// }

button.fab {
  position: fixed;
  top: calc(100vh - 172px);
  right: 6px;

  md-icon {
    color: white !important;
  }
}
/* items per row */
.full-page-element {
  @extend .flex-xs-100;
  @extend .flex-sm-100;
  @extend .flex-gt-md-50;
  @extend .flex-gt-lg-33;
}
/* scrollbar style from ember-paper demo */
*::-webkit-scrollbar {
  cursor: grab;
  width: 6px;
  height: 6px;
}

*::-webkit-scrollbar-track {
  cursor: grab;
  background: rgba(0,0,0,0);
}

*::-webkit-scrollbar-thumb {
  cursor: grab;
  background: color($color-grey, '500');
}
/* color picker from tag editor */
.colorpicker {
  width: 25px !important;
  height: 25px !important;
}

.colorpicker::after {
  width: 11.66667px !important;
  height: 18.33333px !important;
  top: -2px !important;
  bottom: 4px;
}
/* container like */
.container {
  max-width: 864px;
  width: 864px;
}
/* mouse pointer */
.pointer {
  cursor: pointer;
}
/* article extraction pdf viewer */
.pdf-page-container {
  max-height: calc(100vh - #{$header-height} - #{$subheader-height});
  height: calc(100vh - #{$header-height} - #{$subheader-height});
}
.pdf-sidenav {
  max-height: calc(100vh - #{$header-height} - #{$subheader-height});
  min-height: calc(100vh - #{$header-height} - #{$subheader-height});
  overflow: hidden;
  min-width: 33vw;
  width: 50vw;
  max-width: 50vw;
  position: relative;
}

.article-extraction-column {
  height: calc(100vh - #{$header-height}*3 - #{$subheader-height}) !important;
  overflow-x: hidden;
  overflow-y: auto;
  min-width: 500px !important;
}

.article-extraction-tabs {
  height: calc(100vh - #{$header-height}*5 - 8px - 1px - 8px);
  overflow-x: hidden;
  overflow-y: auto;
}
/* paper toolbars */
.md-toolbar-tools {
  max-height: $header-height !important;
  height: $header-height !important;
  min-height: $header-height !important;
}
/* article search */
// md-table-container, md-table-container table.md-table  {
//   overflow-x: hidden;
//   overflow-y: auto;
//   height: calc(100vh - 48px*2 - 8px*3 - 145px) !important;
//   max-height: calc(100vh - 48px*2 - 8px*3 - 145px) !important;
//   min-height: calc(100vh - 48px*2 - 8px*3 - 145px) !important;
// }
// md-table-container tbody {
//   overflow-x: hidden;
//   overflow-y: auto;
//   // min-height: calc(100vh - 48px*2 - 8px - 145px - 56px) !important;
//   height: calc(100vh - 48px*2 - 8px - 145px - 56px) !important;
//   max-height: calc(100vh - 48px*2 - 8px - 145px - 56px) !important;
// }

.articles-table {
  width: 100%;
  border-spacing: 0;
  overflow: hidden;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 12px;
  border-color: rgb(128, 128, 128);
  text-align: center;

  .cell-title {
    width: 32%;
    min-width: 32%;
    max-width: 32%;
    text-align: left !important;
  }
  .cell-year {
    width: 4%;
    min-width: 4%;
    max-width: 4%;
  }
  .cell-content-type {
    width: 8%;
    min-width: 8%;
    max-width: 8%;
  }
  .cell-status {
    width: 4%;
    min-width: 4%;
    max-width: 4%;
  }
  .cell-tags {
    width: 28%;
    min-width: 28%;
    max-width: 28%;
  }
  .cell-publisher {
    width: 8%;
    min-width: 8%;
    max-width: 8%;
  }
  .cell-referenced-by {
    width: 4%;
    min-width: 4%;
    max-width: 4%;
  }
  .cell-controls {
    width: 12%;
    min-width: 12%;
    max-width: 12%;
    text-align: right;
  }

  .extracted {
    background-color: #fcfff5;

    > td {
      @extend .green;
    }
  }
  .extracted:hover td {
    background-color: darken(#fcfff5, 8%);
  }
  .selected:hover td {
    background-color: darken(#fff, 5%);
  }
  .unseen {
    background-color: #fffaf3;

    > td {
      @extend .brown;
    }
  }
  .unseen:hover td {
    background-color: darken(#fffaf3, 8%);
  }

  .excluded {
    background-color: #fff6f6;

    > td {
      @extend .red;
    }
  }
  .excluded:hover td {
    background-color: darken(#fff6f6, 8%);
  }

  .not_included {
    background-color: #546e7a;

    > td {
      @extend .white;
    }
  }
  .not_included:hover td {
    background-color: darken(#546e7a, 8%);
  }
}

.articles-table .table-head {
  display: block;
}

.articles-table thead.table-head th {
  height: 48px;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.54);
  padding-left: 5px;
}

.articles-table tbody.table-body {
  // min-height: 60vh;
  // height: 60vh;
  // max-height: 60vh;
  min-height: calc(100vh - 48px*2 - 8px*2 - 146px - 52px) !important;
    height: calc(100vh - 48px*2 - 8px*2 - 146px - 52px) !important;
    max-height: calc(100vh - 48px*2 - 8px*2 - 146px - 52px) !important;
  overflow-y: scroll;
  display: block;
}

.articles-table tr.table-row > td {
  border-top: 1px rgba(0, 0, 0, 0.12) solid;
  padding-left: 3px;
  padding-top: 5px;
  padding-bottom: 5px;
  min-height: 48px;
  min-width: 40px;
  text-align: center;
}

// route loading bar for application template
.route-loading-bar {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
}

.statistics-table {
  margin-bottom: 8px;
  max-width: 100%;
  width: 100%;
  border-spacing: 0;
  border-radius: 2px;
  overflow: hidden;
  display: table;
  border-collapse: separate;
  border-color: grey;

  tr {
    min-height: 46px !important;
    height: 46px !important;
  }
  thead > tr > th {
    background-color: $primary-color;
    color: white;
  }
  tfoot > tr > th {
    background-color: $accent-color;
    color: white;
  }
  tr td.text-center { text-align: center; }
  tr td.text-right { text-align: right; }
  tr:nth-child(odd) td {
    background-color: #fcf1f0;
  }
  tr:nth-child(even) td {
    background-color: #fef9f8;
  }
  tr td.overflow {
    max-height: 50vh;
    overflow: auto;
  }
}

/* research answers route */
.answer-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{$header-height} - #{$subheader-height} - 8px*2);
  height: calc(100vh - #{$header-height} - #{$subheader-height} - 8px*2);
  min-height: calc(100vh - #{$header-height} - #{$subheader-height} - 8px*2);
  max-width: calc(50vw - 8px*2);
  width: calc(50vw - 8px*2);

  md-card-title {
    padding-top: 16px;

  }

  .answer-card-content {
    max-height: calc(100vh - #{$header-height}*2 - #{$subheader-height}*2 - 8px*2);
    overflow: auto;

    > div {
      // width: 100%;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
    }
  }

  md-card-actions {
    max-height: 48px;

    md-autocomplete-wrap md-input-container {
      height: 30px;
      margin-bottom: 10px
    }
  }

  .pdf-container .pdfViewerContainer {
    max-height: calc(100vh - #{$header-height}*2 - #{$subheader-height} - 8px*2);
    height: calc(100vh - #{$header-height}*2 - #{$subheader-height} - 8px*2);
    min-height: calc(100vh - #{$header-height}*2 - #{$subheader-height} - 8px*2);
    min-width: calc(50vw - 8px*2);
    max-width: calc(50vw - 8px*2);
    overflow-x: auto;
    overflow-y: auto;
  }

  .pdf-container .pdfViewer {
    max-height: calc(100vh - #{$header-height}*2 - #{$subheader-height} - 8px*2);
    height: calc(100vh - #{$header-height}*2 - #{$subheader-height} - 8px*2);
    min-height: calc(100vh - #{$header-height}*2 - #{$subheader-height} - 8px*2);
    max-width: calc(50vw - 8px*2);
  }

  .article-extraction-pdf-toolbar {
    min-width: calc(50vw - 8px*2);
    max-width: calc(50vw - 8px*2);
    margin-right: 8px;
    bottom: 8px;
  }
}

/* paper-select */
// md-autocomplete-wrap > md-input-container {
//   margin-top: 0px;
//   padding-top: 0px;
// }
md-autocomplete {
  min-width: 100px;
}

/* article searcher */
.article-searcher {
  md-card-content {
    padding-top: 0px;
  }
  md-input-container {
    margin-bottom: 0px;
    width: 100%;
  }
  .searcher-filters {
    width: 100%;
  }
  .searcher-stats {
    padding-top: 16px;
    text-align: right;
  }
}
