{{title "Artigos"}}

{{#if isNew}}
  {{#paper-card as |card|}}
    {{#card.content class="layout-row layout-align-space-between"}}
      <p>
        Você não possui nenhum artigo/documento em sua pesquisa.<br><br><br>
        Importe ou adicione artigos/documentos no passo anterior (Bases de Dados e Artigos).<br>
        <i>Se você já importou alguma base ou adicionou artigos/documentos, aguarde um momento.</i><br>
      </p>
    {{/card.content}}
  {{/paper-card}}
{{else}}
  <div>
    {{article-searcher articlesCount=model.meta.count search=search selectedFilters=filters changeFilter=(action "changeFilter")}}

    {{#paper-card}}
      <table class="articles-table">
        <thead class="table-head">
          <tr>
            <th class="cell-title">{{t 'article.title'}}</th>
            <th class="cell-year">{{t 'article.publicationYear'}}</th>
            <th class="cell-content-type">Tipo</th>
            <th class="cell-status">{{t 'article.status'}}</th>
            <th class="cell-tags">{{t 'article.tags'}}</th>
            <th class="cell-publisher">{{t 'article.publisher'}}</th>
            <th class="cell-referenced-by">Referenciado por</th>
            <th class="cell-controls">
              <div class="flex"></div>
              {{!-- {{article-spreadsheet-maker}} --}}
            </th>
          </tr>
        </thead>

        <tbody class="table-body">
          {{#if model.length}}
            {{#each model as |article|}}
              <tr class="table-row {{article.status}}">
                <td class="cell-title">{{article.title}}</td>
                <td class="cell-year">{{article.publicationYear}}</td>
                <td class="cell-content-type">{{t (concat 'content-type.' article.contentType.code)}}</td>
                <td class="cell-status">{{t (concat 'article.status.' article.status)}}</td>
                <td class="cell-tags">{{tag-viewer model=article}}</td>
                <td class="cell-publisher">{{article.publisher.name}}</td>
                <td class="cell-referenced-by">{{article.referencedByCount}}</td>
                <td class="cell-controls">
                  <div class="layout-row layout-align-end-center">
                    {{#article-show-dialog article=article as |attrs|}}
                      {{#paper-button onClick=attrs.open iconButton=true aria-label="Ver Artigo"}}
                        {{fa-icon "eye"}}
                        {{#paper-tooltip}}Ver Artigo{{/paper-tooltip}}
                      {{/paper-button}}
                    {{/article-show-dialog}}
                    {{#paper-button href=(href-to 'article-extraction' article.id) iconButton=true aria-label="Extração de Dados"}}
                      {{fa-icon "magic"}}
                      {{#paper-tooltip}}Extração de Dados{{/paper-tooltip}}
                    {{/paper-button}}
                    {{article-actions-menu article=article show=false extract=false}}
                  </div>
                </td>
              </tr>
            {{/each}}
            {{#infinity-loader infinityModel=model}}
              <div class="layout-row">
                {{#if showProgressBar}}
                  {{paper-progress-linear class="flex-grow"}}
                {{/if}}
              </div>
            {{/infinity-loader}}
          {{else}}
            {{t "search.no-results"}}
          {{/if}}
        </tbody>
      </table>
    {{/paper-card}}
  </div>
{{/if}}
