{{#visjs-network options=networkOptions}}
  {{!-- Adding nodes is as simple as passing a unique id to a component. The rest is optional --}}
  {{!-- {{visjs-node nId=1 label='A' select=(action 'nodeClicked') color='#ff0000'}}
  {{visjs-node nId=2 label='B'}}
  {{visjs-node nId=3 label='C' posX=100 posY=100}} --}}
  {{#each model.nodes as |node|}}
    {{#if node.relevant}}
      {{visjs-node nId=node.id label=node.label color=node.color shape=node.shape value=node.value hidden=node.hidden relevant=node.relevant}}
    {{/if}}
  {{/each}}


  {{!-- Node-Relations are given by edges --}}
  {{!-- {{visjs-edge from=1 to=2}}
  {{visjs-edge from=1 to=3 arrows='to'}} --}}
  {{#each model.articleReferences as |articleReference|}}
    {{#unless (or (eq articleReference.source.id undefined) (eq articleReference.destination.id undefined))}}
      {{visjs-edge from=articleReference.source.id to=articleReference.destination.id arrows='to'}}
    {{/unless}}
  {{/each}}

  {{#tooltip-on-element target='#my-input' event='click' enableLazyRendering=true}}
    Here is the info!
  {{/tooltip-on-element}}
{{/visjs-network}}
