{{title "Responder Perguntas de Pesquisas"}}

<div class="layout-row">
  <div class="flex-50">
    {{#paper-card class="answer-card layout-column" as |card|}}
      {{#if researchQuestion}}
        {{#card.title as |title|}}
          {{#title.text as |text|}}
            {{#text.headline}}
              {{object-editor-input model=researchQuestion attribute="title"}}
              {{#paper-tooltip}}{{researchQuestion.description}}{{/paper-tooltip}}
            {{/text.headline}}
            {{!-- {{#text.subhead}}{{object-editor-input model=researchQuestion attribute="description"}}{{/text.subhead}} --}}
          {{/title.text}}
        {{/card.title}}
        {{#card.content class="flex-grow"}}
          <br>
          <div class="answer-card-content flex-grow">
            {{#object-editor-input model=researchQuestion attribute="value"}}
              {{#if researchQuestion.value}}
                {{paper-icon 'label'}}{{{researchQuestion.value}}}
                {{else}}
                {{#paper-button primary=true raised=true}}{{t 'research-question.pendingValue'}}{{/paper-button}}
              {{/if}}
            {{/object-editor-input}}
          </div>
        {{/card.content}}
      {{/if}}
      {{#card.actions}}
        <div class="layout-row layout-align-space-between-center flex-100">
          {{#paper-button iconButton=true onClick=(action "previous" 'researchQuestion')}}{{paper-icon "chevron-left"}}{{/paper-button}}
          <div class="flex-grow">
            {{#paper-autocomplete
              options=sortedQuestions
              searchField="title"
              selected=researchQuestion
              label=(t 'research-question.model')
              labelPath="title"
              allowClear=true
              onSelectionChange=(action "change" "researchQuestionId")
              as |question autocomplete|}}
              {{paper-autocomplete-highlight
                label=question.title
                searchText=autocomplete.searchText
                flags="i"}}
            {{/paper-autocomplete}}
          </div>
          {{#paper-button iconButton=true onClick=(action "next" 'researchQuestion')}}{{paper-icon "chevron-right"}}{{/paper-button}}
        </div>
        {{/card.actions}}
    {{/paper-card}}
  </div>

  <div class="layout-row flex-50">
    {{#paper-card class="answer-card layout-column" as |card|}}
      {{#if isPdfOpen}}
        {{#paper-button class="close-sidenav-right" iconButton=true onClick=(action "togglePdf")}}{{paper-icon "close" class="white"}}{{/paper-button}}
        <object class="answer-card" data="{{article.fileUrl}}" type="application/pdf">
          <a href="{{article.fileUrl}}">PDF</a>
        </object>
      {{else}}
        {{#if article}}
          {{#if articleLoading}}
            {{paper-progress-linear}}
          {{/if}}
          {{#card.title as |title|}}
            {{#title.text class="layout-row" as |text|}}
              {{#text.headline class="flex-grow"}}
                {{article.title}}
                {{tag-viewer model=article}}
              {{/text.headline}}
              {{#text.subhead class="layout-column"}}
              {{#if article.fileUrl}}
                {{#paper-button iconButton=true onClick=(action "togglePdf")}}
                  {{fa-icon "file-text"}}
                  {{#paper-tooltip}}Ver PDF{{/paper-tooltip}}
                {{/paper-button}}
              {{/if}}
              {{#article-show-dialog article=article as |attrs|}}
                {{#paper-button onClick=attrs.open iconButton=true aria-label="Ver Artigo"}}
                  {{fa-icon "eye"}}
                  {{#paper-tooltip}}Ver Artigo{{/paper-tooltip}}
                {{/paper-button}}
              {{/article-show-dialog}}
              {{#paper-button iconButton=true onClick=(action "refresh")}}
                {{fa-icon "refresh"}}
                {{#paper-tooltip}}Recarregar artigo{{/paper-tooltip}}
              {{/paper-button}}
              {{article-actions-menu article=article show=false}}
              {{/text.subhead}}
            {{/title.text}}
          {{/card.title}}
          {{#card.content class="flex-grow"}}
            <div class="answer-card-content">
              {{#if questionsTask.isIdle}}
                {{#each-in relatedExtractionQuestions as |question articleQuestion|}}
                  <div>
                    <h4>{{question}}</h4>
                    <p>
                      {{#object-editor-input model=articleQuestion attribute="value" onSave=(action "save" articleQuestion)}}
                        {{#if articleQuestion.value}}
                          {{paper-icon 'label'}}{{{articleQuestion.value}}}
                        {{else}}
                          {{#paper-button primary=true raised=true}}Não respondido{{/paper-button}}
                        {{/if}}
                      {{/object-editor-input}}
                    </p>
                  </div>
                {{/each-in}}
              {{else}}
                {{#content-placeholders as |placeholder|}}
                  {{placeholder.text lines=2}}
                {{/content-placeholders}}
              {{/if}}
            </div>
          {{/card.content}}
        {{/if}}
        {{#card.actions class="layout-row layout-align-space-between-center"}}
          {{#paper-button iconButton=true onClick=(action "previous" 'article')}}{{paper-icon "chevron-left"}}{{/paper-button}}
          <div class="flex-grow">
            {{#paper-autocomplete
              options=sortedArticles
              searchField="title"
              selected=article
              label=(t 'article.model')
              labelPath="title"
              allowClear=true
              onSelectionChange=(action "change" "articleId")
              as |article autocomplete|}}
              {{paper-autocomplete-highlight
                label=article.title
                searchText=autocomplete.searchText
                flags="i"}}
            {{/paper-autocomplete}}
          </div>
          {{#paper-button iconButton=true onClick=(action "next" 'article')}}{{paper-icon "chevron-right"}}{{/paper-button}}
        {{/card.actions}}
      {{/if}}
    {{/paper-card}}
  </div>
</div>
