{{title "Estatísticas"}}

{{!-- {{#paper-select
  label="Modo de visualização"
  options=modes
  selected=selectedMode
  onChange=(action "change")
  as |mode|}}
  {{fa-icon mode.icon}}&nbsp;{{mode.name}}
{{/paper-select}} --}}

<br>
{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Autores</div>
    <div class="md-panel-summary"></div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Autores</div>
      <div class="md-panel-summary">Apenas para artigos extraídos e/ou selecionados</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}

      {{!-- tabela autores / artigos count e nome --}}
      {{#if (eq authorArticles undefined)}}
        {{paper-progress-circular}}
      {{else}}
        <table class="statistics-table">
          <thead class="table-head">
            <tr>
              <th>Autor</th>
              <th># Artigos</th>
              <th>Artigos</th>
            </tr>
          </thead>
          <tbody class="table-body">
            {{#each authorArticles as |attr|}}
              <tr class="table-row">
                <td>{{attr.author.name}}</td>
                <td class="text-center"><b>{{attr.articlesCount}}</b></td>
                <td class="layout-column text-right">
                  {{#each attr.articles as |article|}}
                    {{#article-show-dialog article=article.content as |attrs|}}
                      <p style="cursor: pointer;" {{action attrs.open}}>
                        {{article.title}}&nbsp;
                        {{fa-icon "eye"}}&nbsp;
                      </p>
                    {{/article-show-dialog}}
                  {{/each}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{/expanded.content}}
  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Ano de Publicação</div>
    <div class="md-panel-summary"></div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Ano de Publicação</div>
      <div class="md-panel-summary">Apenas para artigos extraídos e/ou selecionados</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}

      {{!-- tabela autores / artigos count e nome --}}
      {{#if (eq yearArticles undefined)}}
        {{paper-progress-circular}}
      {{else}}
        {{!-- {{ember-chart type='bar' data=yearArticlesChart}}
        <br> --}}
        <table class="statistics-table">
          <thead class="table-head">
            <tr>
              <th>Ano</th>
              <th># Artigos</th>
              {{!-- <th>Artigos</th> --}}
            </tr>
          </thead>
          <tbody class="table-body">
            {{#each yearArticles as |attr|}}
              <tr class="table-row">
                <td>{{attr.year}}</td>
                <td class="text-center"><b>{{attr.articlesCount}}</b></td>
                {{!-- <td class="layout-column text-right">
                  {{#each attr.articles as |article|}}
                    {{#article-show-dialog article=article.content as |attrs|}}
                      <p style="cursor: pointer;" {{action attrs.open}}>
                        {{article.title}}&nbsp;
                        {{fa-icon "eye"}}&nbsp;
                      </p>
                    {{/article-show-dialog}}
                  {{/each}}
                </td> --}}
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{/expanded.content}}
  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Publicações</div>
    <div class="md-panel-summary"></div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Publicações</div>
      <div class="md-panel-summary">Apenas para artigos extraídos e/ou selecionados</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}

      {{!-- tabela autores / artigos count e nome --}}
      {{#if (eq publicationArticles undefined)}}
        {{paper-progress-circular}}
      {{else}}
        <table class="statistics-table">
          <thead class="table-head">
            <tr>
              <th>Publicação</th>
              <th># Artigos</th>
              <th>Artigos</th>
            </tr>
          </thead>
          <tbody class="table-body">
            {{#each publicationArticles as |attr|}}
              <tr class="table-row">
                <td>
                  {{attr.publication.title}}
                  {{{if attr.publication.publisher (concat "<br><i>" attr.publication.publisher.name "</i>")}}}
                </td>
                <td class="text-center"><b>{{attr.articlesCount}}</b></td>
                <td class="layout-column text-right">
                  {{#each attr.articles as |article|}}
                    {{#article-show-dialog article=article.content as |attrs|}}
                      <p style="cursor: pointer;" {{action attrs.open}}>
                        {{article.title}}&nbsp;
                        {{fa-icon "eye"}}&nbsp;
                      </p>
                    {{/article-show-dialog}}
                  {{/each}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/if}}
    {{/expanded.content}}
  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Vinculações</div>
    <div class="md-panel-summary"></div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Vinculações</div>
      <div class="md-panel-summary">Apenas para artigos extraídos e/ou selecionados</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}
      <div class="layout-column">
        {{!-- tabela country / affiliations count e nome --}}
        {{#if (eq affiliationAuthors undefined)}}
          {{paper-progress-circular}}
          {{else}}
          <table class="statistics-table md-table">
            <thead class="table-head">
              <tr>
                <th>Local</th>
                <th># Vinculações</th>
                <th>Vinculações</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {{#each countryAffiliations as |attr|}}
                <tr class="table-row">
                  <td>{{get countries attr.countryId}}</td>
                  <td class="text-center"><b>{{attr.affiliationsCount}}</b></td>
                  <td class="text-right">
                    {{#each attr.affiliations as |affiliation index|}}
                      {{affiliation.name}}<br>
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}

        <br>

        {{!-- tabela affiliations / autores count e nome --}}
        {{#if (eq affiliationAuthors undefined)}}
          {{paper-progress-circular}}
        {{else}}
          <p>Os autores podem ter mais de uma vinculação</p>
          <table class="statistics-table flex-48">
            <thead class="table-head">
              <tr>
                <th>Vinculação</th>
                <th># Autores</th>
                <th>Autores</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {{#each affiliationAuthors as |attr|}}
                <tr class="table-row">
                  <td>{{attr.affiliation.name}}<br><i>{{get countries attr.affiliation.location}}</i></td>
                  <td class="text-center"><b>{{attr.authorsCount}}</b></td>
                  <td class="text-right">
                    {{#each attr.authors as |author index|}}
                      {{author.name}}<br>
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{/if}}
      </div>
    {{/expanded.content}}
  {{/panel.expanded}}
{{/paper-expansion-panel}}

{{#paper-expansion-panel as |panel|}}
  {{#panel.collapsed}}
    <div class="md-panel-title">Bases</div>
    <div class="md-panel-summary"></div>
    {{paper-icon "keyboard_arrow_down"}}
  {{/panel.collapsed}}

  {{#panel.expanded as |expanded|}}
    {{#expanded.header}}
      <div class="md-panel-title">Bases</div>
      <div class="md-panel-summary">Apenas para artigos extraídos e/ou selecionados</div>
      {{paper-icon "keyboard_arrow_up"}}
    {{/expanded.header}}

    {{#expanded.content}}
      <div class="layout-column">
        {{!-- tabela base / artigos count e nome --}}
        {{#if (eq articleDatabaseArticles undefined)}}
          {{paper-progress-circular}}
        {{else}}
          <table class="statistics-table md-table">
            <thead class="table-head">
              <tr>
                <th>Base</th>
                <th># Artigos</th>
                <th>Artigos</th>
              </tr>
            </thead>
            <tbody class="table-body">
              {{#each articleDatabaseArticles as |attr|}}
                <tr class="table-row">
                  <td>{{attr.articleDatabase.title}}</td>
                  <td class="text-center"><b>{{attr.articlesCount}}</b></td>
                  <td class="text-right overflow">
                    {{#each attr.articles as |article index|}}
                      {{#article-show-dialog article=article.content as |attrs|}}
                        <p style="cursor: pointer;" {{action attrs.open}}>
                          {{article.title}}&nbsp;
                          {{fa-icon "eye"}}&nbsp;
                        </p>
                      {{/article-show-dialog}}
                    {{/each}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
            <tfoot>
              <tr>
                <th>Total</th>
                <th class="text-center">{{articlesCount}}</th>
                <th></th>
              </tr>
            </tfoot>
          </table>
        {{/if}}
      </div>
    {{/expanded.content}}
  {{/panel.expanded}}
{{/paper-expansion-panel}}
<br>
{{#paper-button raised=true accent=true onClick=(action "reload")}}Recarregar estatísticas{{/paper-button}}
