{{head-layout}}
{{paper-toaster}}

<div id="header-toolbar" class="layout-row">
  {{#paper-toolbar accent=isConfig as |toolbar|}}
    {{#toolbar.tools}}
      <h3>
        <b>Ma</b>pping <b>R</b>eview <b>S</b>ystem
      </h3>
      &nbsp;
      {{#if session.isAuthenticated}}
        {{#if isConfig}}
          {{#paper-tabs accent=true center=true stretch=false selected=routeName onChange=(action 'changeTab') as |tabs|}}
            {{#tabs.tab value="researches"}}
              Pesquisas
            {{/tabs.tab}}
            {{#tabs.tab value="groups"}}
              Grupos
            {{/tabs.tab}}
          {{/paper-tabs}}
        {{else}}
          {{#paper-tabs primary=true center=true stretch=false selected=routeName onChange=(action 'changeTab') as |tabs|}}
            {{#tabs.tab value="planning"}}
              1. Planejamento
            {{/tabs.tab}}
            {{#tabs.tab value="execution"}}
              2. Execução
            {{/tabs.tab}}
            {{#tabs.tab value="summarization"}}
              3. Sumarização
            {{/tabs.tab}}
          {{/paper-tabs}}
        {{/if}}

        <div class="layout-row status">
          <div class="flex"></div>
          {{#unless isConfig}}
            {{#paper-button iconButton=true onClick=(action 'toggleSidenav' currentUser.currentResearch)}}
              {{fa-icon "sticky-note"}}
              {{#paper-tooltip}}Notas da Pesquisa{{/paper-tooltip}}
            {{/paper-button}}
            {{research-selector}}
            {{#paper-button iconButton=true raised=true accent=true onClick=(action 'getSpreadsheet')}}
              {{fa-icon "table"}}
              {{#paper-tooltip}}Exportar Pesquisa{{/paper-tooltip}}
            {{/paper-button}}
          {{/unless}}
          {{#paper-button iconButton=true raised=true onClick=(action "control")}}
            {{#if isConfig}}
              {{fa-icon "flask"}}
              {{#paper-tooltip}}Voltar para o Mapeamento/Revisão{{/paper-tooltip}}
            {{else}}
              {{fa-icon "cogs"}}
              {{#paper-tooltip}}Configurações{{/paper-tooltip}}
            {{/if}}
          {{/paper-button}}
          {{#paper-menu as |menu|}}
            {{#menu.trigger}}
              {{#paper-button iconButton=true raised=true warn=true}}
                {{fa-icon "user-circle"}}
              {{/paper-button}}
            {{/menu.trigger}}
            {{#menu.content width=2 as |content|}}
              {{#content.menu-item onClick=(action 'invalidateSession')}}
                {{fa-icon "sign-out"}}
                <span>Logout</span>
              {{/content.menu-item}}
            {{/menu.content}}
          {{/paper-menu}}
        </div>
      {{/if}}
    {{/toolbar.tools}}
    {{#if isLoadingRoute}}
      <div class="route-loading-bar">
        {{paper-progress-linear accent=true}}
      </div>
    {{/if}}
  {{/paper-toolbar}}
</div>

{{#paper-sidenav-container class="main-content"}}
  <div id="router-scroll"></div>

  {{#if session.isAuthenticated}}
    {{notes-sidenav open=isNotesSidenavOpen model=notesSidenavModel}}
  {{/if}}
  {{liquid-outlet}}
{{/paper-sidenav-container}}
