{{title (concat "Extração de Dados | " (t (concat "article.status." model.status)) " | Artigo: " model.title)}}

{{#paper-sidenav-container class="layout-row"}}
  <div class="layout-column flex">
    <div class="flex">
      {{#paper-toolbar accent=true as |toolbar|}}
       {{#toolbar.tools}}
         <h3>{{model.title}}</h3>
         <span class="flex"></span>

         {{#if pdfUrl}}
           {{#paper-button iconButton=true onClick=(action "toggleSidenav" 'pdf')}}
             {{fa-icon "file-text"}}
             {{#paper-tooltip}}Ver PDF{{/paper-tooltip}}
           {{/paper-button}}
         {{/if}}
         {{#paper-button iconButton=true onClick=(action "toggleSidenav" 'questions')}}
           {{fa-icon "search"}}
           {{#paper-tooltip}}Ver Perguntas de Pesquisa{{/paper-tooltip}}
         {{/paper-button}}
         {{#article-show-dialog article=model as |attrs|}}
           {{#paper-button onClick=attrs.open iconButton=true aria-label="Ver Artigo"}}
             {{fa-icon "eye"}}
             {{#paper-tooltip}}Ver Artigo{{/paper-tooltip}}
           {{/paper-button}}
         {{/article-show-dialog}}
         {{article-actions-menu article=model show=false extract=false}}
       {{/toolbar.tools}}
       {{#toolbar.tools}}
         {{t (concat "article.status." model.status)}}
         <span class="flex"></span>
         {{tag-viewer model=model}}
         {{quick-note-new model=model}}
       {{/toolbar.tools}}
      {{/paper-toolbar}}
    </div>

    <div class="article-extraction-column layout-column">
      {{#paper-card}}
        {{#paper-tabs
          center=true
          stretch=true
          borderBottom=true
          selected=selectedTab
          onChange=(action (mut selectedTab)) as |tabs|}}
          {{#tabs.tab}}
            {{t "selection-criteria"}}
          {{/tabs.tab}}
          {{#tabs.tab}}
            {{t "extraction-question.models"}}
          {{/tabs.tab}}
        {{/paper-tabs}}

        <div class="article-extraction-tabs">
          {{#if (eq selectedTab 0)}}
            {{article-criterium-list article=model type="inclusion"}}
            {{paper-divider}}
            <br>
            {{article-criterium-list article=model type="exclusion"}}
          {{else if (eq selectedTab 1)}}
            {{article-extraction-question-list article=model}}
          {{/if}}
        </div>
      {{/paper-card}}
    </div>
  </div>
  {{#paper-sidenav
    class="md-whiteframe-z2 pdf-sidenav"
    name="pdf-viewer"
    open=sidenavOpen
    lockedOpen=isSidenavOpen
    position="right"
    onToggle=(action (mut sidenavOpen))}}
    {{#paper-button class="close-sidenav-right" iconButton=true onClick=(action "toggleSidenav" sidenav)}}{{paper-icon "close" class="white"}}{{/paper-button}}
    {{#if (and (eq sidenav 'pdf') pdfUrl)}}
      <object class="pdf-page-container" data="{{pdfUrl}}" type="application/pdf">
        <a href="{{pdfUrl}}">PDF</a>
      </object>
    {{else}}
      <div style="overflow: auto;">
        {{research-question-list researchQuestions=research.researchQuestions isGuide=true isNew=false}}
      </div>
    {{/if}}
  {{/paper-sidenav}}
{{/paper-sidenav-container}}
