{{title "Execução"}}

{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  accent=true
  selected=currentRouteName
  onChange=(action 'changeTab') as |tabs|}}
  {{#tabs.tab value="execution.databases"}}
    1. Bases de dados e artigos
    {{#paper-tooltip position='bottom'}}Que bases de dados e artigos compõe o mapeamento/revisão?{{/paper-tooltip}}
  {{/tabs.tab}}
  {{#tabs.tab value="execution.selection"}}
    2. Seleção de Trabalhos
    {{#paper-tooltip position='bottom'}}Quais trabalhos serão selecionados a partir dos critérios de inclusão e exclusão?{{/paper-tooltip}}
  {{/tabs.tab}}
  {{#tabs.tab value="execution.extraction"}}
    3. Extração de Dados
    {{!-- {{#paper-tooltip position='bottom'}}{{/paper-tooltip}} --}}
  {{/tabs.tab}}
{{/paper-tabs}}

{{liquid-outlet class="liquid-subcontainer"}}
