{{title "Grupos"}}

{{#each model as |group|}}
  {{#paper-card class="full-page-element" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline class="layout-row layout-align-space-between-center"}}
          {{#object-editor-input model=group attribute="name"}}{{{if group.name group.name (concat "<i>" (t "group.name") "</i>")}}}{{/object-editor-input}}
          {{object-delete-button model=group}}
        {{/text.headline}}

        {{#text.subhead}}{{#object-editor-input model=group attribute="description"}}{{{if group.description group.description (concat "<i>" (t "group.description") "</i>")}}}{{/object-editor-input}}{{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      {{group-membership-list group=group}}
    {{/card.content}}
  {{/paper-card}}
{{/each}}

{{#paper-button class="fab" primary=true raised=true iconButton=true fab=true onClick=(action "new")}}{{paper-icon "add"}}{{/paper-button}}
