{{title "Login"}}

<div class="layout-column layout-align-center-center">
  <h3><a href="{{href-to 'register'}}">{{fa-icon 'user-plus'}} Novo usuário</a></h3>
  {{#paper-card class="container" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Login{{/text.headline}}
        {{!-- {{#text.subhead}}Extra large{{/text.subhead}} --}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      {{#paper-form onSubmit=(action "authenticate") as |form|}}
        <div class="layout-column flex">
          {{form.input class="flex" id='identification' label="Email" value=identification required=true onChange=(action (mut identification))}}
          {{form.input class="flex" label="Password" type="password" value=password  onChange=(action (mut password))}}
          {{#form.submit-button class="flex" raised=true primary=true}}Login{{/form.submit-button}}
          {{#if errorMessage}}
            <p>{{errorMessage}}</p>
          {{/if}}
        </div>
      {{/paper-form}}
    {{/card.content}}
  {{/paper-card}}
</div>
