{{#each model as |note|}}
  {{#paper-card as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Card with block{{/text.headline}}
        {{#text.subhead}}Extra large{{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content class="layout-row layout-align-space-between"}}
      {{#card.media size="xl"}}
        <div class="card-media"></div>
      {{/card.media}}
      {{#card.actions class="layout-column"}}
        {{#paper-button iconButton=true}}{{paper-icon "favorite"}}{{/paper-button}}
        {{#paper-button iconButton=true}}{{paper-icon "settings"}}{{/paper-button}}
        {{#paper-button iconButton=true}}{{paper-icon "share"}}{{/paper-button}}
      {{/card.actions}}
    {{/card.content}}
  {{/paper-card}}
{{/each}}
