{{title "Planejamento"}}

{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  accent=true
  selected=selectedTab
  onChange=(action (mut selectedTab)) as |tabs|}}
  {{#tabs.tab}}Protocolo de Pesquisa{{/tabs.tab}}
  {{#tabs.tab}}
    Perguntas de Pesquisa
    {{#paper-tooltip position='bottom'}}O que desejamos responder?{{/paper-tooltip}}
  {{/tabs.tab}}
  {{#tabs.tab}}
    Critérios de Seleção
    {{#paper-tooltip position='bottom'}}Como selecionar os artigos?{{/paper-tooltip}}
  {{/tabs.tab}}
  {{#tabs.tab}}
    Extração de Dados
    {{#paper-tooltip position='bottom'}}O que extrair dos artigos?{{/paper-tooltip}}
  {{/tabs.tab}}
{{/paper-tabs}}

{{#liquid-bind (hash tab=selectedTab) use="fade" as |current|}}
  {{#if (eq current.tab 0)}}
    Título:
    {{#object-editor-input model=model attribute="title"}}
      {{#if model.title}}
        {{model.title}}
      {{else}}
        {{t "input.blank"}}
      {{/if}}
    {{/object-editor-input}}<br>
    Objetivo:
    {{#object-editor-input model=model attribute="objective"}}
      {{#if model.objective}}
        {{model.objective}}
      {{else}}
        {{t "input.blank"}}
      {{/if}}
    {{/object-editor-input}}<br>
    Palavras-chave: {{keyword-list model=model}}
  {{else if (eq current.tab 1)}}
    {{research-question-list researchQuestions=model.researchQuestions isGuide=true}}
  {{else if (eq current.tab 2)}}
    <h4>{{t "inclusion-criterium.models"}}</h4>
    {{inclusion-criterium-list inclusionCriteria=model.inclusionCriteria}}
    {{paper-divider}}
    <br>
    <h4>{{t "exclusion-criterium.models"}}</h4>
    {{exclusion-criterium-list exclusionCriteria=model.exclusionCriteria}}
  {{else if (eq current.tab 3)}}
    {{extraction-question-list extractionQuestions=model.extractionQuestions}}
  {{/if}}
{{/liquid-bind}}


{{!-- {{#paper-stepper currentStep=currentStep linear=false onStepChange=(action (mut currentStep)) as |stepper|}}

  {{#stepper.step label="Pesquisa" as |step|}}
    {{#step.body class="stepper-overflow"}}
      Título:
      {{#object-editor-input model=model attribute="title"}}
        {{#if model.title}}
          {{model.title}}
        {{else}}
          {{t "input.blank"}}
        {{/if}}
      {{/object-editor-input}}<br>
      Objetivo:
      {{#object-editor-input model=model attribute="objective"}}
        {{#if model.objective}}
          {{model.objective}}
        {{else}}
          {{t "input.blank"}}
        {{/if}}
      {{/object-editor-input}}<br>
      Palavras-chave: {{keyword-list model=model}}
    {{/step.body}}
    {{#step.actions class="stepper-actions" as |nextStep previousStep|}}
      {{#paper-button disabled=true onClick=(action previousStep)}}
        {{t "controls.back"}}
      {{/paper-button}}
      {{#paper-button primary=true raised=true onClick=(action nextStep)}}
        {{t "controls.continue"}}
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  {{#stepper.step label="Perguntas de Pesquisa" summary="O que desejamos responder?" as |step|}}
    {{#step.body class="stepper-overflow"}}
      {{research-question-list researchQuestions=model.researchQuestions isGuide=true}}
    {{/step.body}}
    {{#step.actions class="stepper-actions" as |nextStep previousStep|}}
      {{#paper-button onClick=(action previousStep)}}
        {{t "controls.back"}}
      {{/paper-button}}
      {{#paper-button primary=true raised=true onClick=(action nextStep)}}
        {{t "controls.continue"}}
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  {{#stepper.step label="Critérios de Seleção" summary="Como selecionar os artigos?" as |step|}}
    {{#step.body class="stepper-overflow"}}
      <h4>{{t "inclusion-criterium.models"}}</h4>
      {{inclusion-criterium-list inclusionCriteria=model.inclusionCriteria}}
      {{paper-divider}}
      <br>
      <h4>{{t "exclusion-criterium.models"}}</h4>
      {{exclusion-criterium-list exclusionCriteria=model.exclusionCriteria}}
    {{/step.body}}
    {{#step.actions class="stepper-actions" as |nextStep previousStep|}}
      {{#paper-button onClick=(action previousStep)}}
        {{t "controls.back"}}
      {{/paper-button}}
      {{#paper-button primary=true raised=true onClick=(action nextStep)}}
        {{t "controls.continue"}}
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  {{#stepper.step label="Perguntas de Extração" summary="O que extrair dos artigos?" as |step|}}
    {{#step.body class="stepper-overflow"}}
      {{extraction-question-list extractionQuestions=model.extractionQuestions}}
    {{/step.body}}
    {{#step.actions class="stepper-actions" as |nextStep previousStep|}}
      {{#paper-button onClick=(action previousStep)}}
        {{t "controls.back"}}
      {{/paper-button}}
      {{#paper-button primary=true raised=true onClick=(action nextStep)}}
        {{t "controls.continue"}}
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}

  {{#stepper.step label="Bases de dados" summary="Que bases compõe a pesquisa?" as |step|}}
    {{#step.body class="stepper-overflow"}}
      {{databases-viewer research=model}}
    {{/step.body}}
    {{#step.actions class="stepper-actions" as |nextStep previousStep|}}
      {{#paper-button onClick=(action previousStep)}}
        {{t "controls.back"}}
      {{/paper-button}}
      {{#paper-button primary=true raised=true href=(href-to "execution")}}
        {{t "controls.finish"}}
      {{/paper-button}}
    {{/step.actions}}
  {{/stepper.step}}
{{/paper-stepper}} --}}
