<div class="layout-column layout-align-center-center">
  {{#paper-card class="container" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}Cadastrar novo usuário{{/text.headline}}
        {{!-- {{#text.subhead}}Extra large{{/text.subhead}} --}}
      {{/title.text}}
    {{/card.title}}
    {{#card.content}}
      {{#paper-form onSubmit=(action "submit" model) as |form|}}
        <div class="layout-column flex">
          {{form.input class="flex" label="Nome" value=model.name required=true onChange=(action (mut model.name))}}
          {{form.input class="flex" label="Email" value=model.email required=true onChange=(action (mut model.email))}}
          {{form.input class="flex" label="Password" type="password" value=model.password  onChange=(action (mut model.password))}}
          {{form.input class="flex" label="Password Confirmation" type="password" value=model.passwordConfirmation  onChange=(action (mut model.passwordConfirmation))}}
          {{#form.submit-button class="flex" raised=true primary=true}}Criar usuário{{/form.submit-button}}
          {{#if errorMessage}}
            <br>
            <p><b>{{errorMessage}}</b></p>
          {{/if}}
        </div>
      {{/paper-form}}
    {{/card.content}}
  {{/paper-card}}
</div>
