{{title "Pesquisa Atual"}}

{{#paper-sidenav-container class="layout-row"}}
  {{#paper-card class="flex-auto" as |card|}}
    {{#card.title as |title|}}
      {{#title.text as |text|}}
        {{#text.headline}}{{object-editor-input model=model attribute="title"}}{{/text.headline}}
        {{#text.subhead}}
          {{#object-editor-input model=model attribute="objective"}}<p><i>{{model.objective}}</i></p>{{/object-editor-input}}<br>
          Palavras-chave: {{keyword-list model=model}}
          {{!-- bases... --}}
        {{/text.subhead}}
      {{/title.text}}
    {{/card.title}}
  {{/paper-card}}

  {{#paper-card class="flex-grow"}}
    {{#paper-tabs
      center=true
      stretch=true
      borderBottom=true
      selected=selectedTab
      onChange=(action (mut selectedTab)) as |tabs|}}
      {{#tabs.tab}}
        {{t "research-question.models"}}
      {{/tabs.tab}}
      {{#tabs.tab}}
        {{t "selection-criteria"}}
      {{/tabs.tab}}
      {{#tabs.tab}}
        {{t "extraction-question.models"}}
      {{/tabs.tab}}
    {{/paper-tabs}}

    {{!-- {{#liquid-bind class= (hash tab=selectedTab) class="md-padding" as |current|}} --}}
    <div class="tabs-overflow">
      {{#if (eq selectedTab 0)}}
        {{research-question-list researchQuestions=model.researchQuestions toggleSidenav=(action "toggleSidenav")}}
      {{else if (eq selectedTab 1)}}
        <h4>{{t "inclusion-criterium.models"}}</h4>
        {{inclusion-criterium-list inclusionCriteria=model.inclusionCriteria}}
        {{paper-divider}}
        <br>
        <h4>{{t "exclusion-criterium.models"}}</h4>
        {{exclusion-criterium-list exclusionCriteria=model.exclusionCriteria}}
        {{paper-divider}}
      {{else if (eq selectedTab 2)}}
        {{extraction-question-list extractionQuestions=model.extractionQuestions}}
      {{/if}}
    </div>
  {{/paper-card}}

  {{extraction-questions-sidenav researchQuestion=selectedResearchQuestion open=isSidenavOpen}}
{{/paper-sidenav-container}}
