{{title "Pesquisas"}}

<div class="layout-row">
  {{#each researches as |research|}}
    {{research-item class="full-page-element" research=research groups=groups}}
  {{/each}}
</div>

{{#paper-button class="fab" primary=true raised=true iconButton=true fab=true onClick=(action "new")}}{{paper-icon "add"}}{{/paper-button}}
