{{title "Sumarização"}}

{{#paper-tabs
  center=true
  stretch=true
  borderBottom=true
  accent=true
  selected=currentRouteName
  onChange=(action 'changeTab') as |tabs|}}
  {{#tabs.tab value="summarization.research-answers"}}
    Responder Perguntas de Pesquisa
    {{#paper-tooltip position='bottom'}}Responda as Perguntas de Pesquisa navegando nos trabalhos com dados extraídos.{{/paper-tooltip}}
  {{/tabs.tab}}
  {{#tabs.tab value="summarization.statistics"}}
    Estatísticas
    {{#paper-tooltip position='bottom'}}Estatísticas gerais do mapeamento/revisão.{{/paper-tooltip}}
  {{/tabs.tab}}
  {{#tabs.tab value="summarization.reference-graph"}}
    Rede de Referências
    {{#paper-tooltip position='bottom'}}Veja como os trabalhos se relacionam.{{/paper-tooltip}}
  {{/tabs.tab}}
{{/paper-tabs}}

{{liquid-outlet class="liquid-subcontainer"}}
